{% extends "layout.njk" %}
{% set title = 'Cancer News' %}
{% set body_class = 'home' %}
{% set stylesheet = 'styles-new.css' %}


{% block content %}
<div class="tree">

<h1>{{ title }}</h1>


<ul class="level-1">
<li><a href="#">Behind the headlines</a>
  <ul class="level-2">
  <li><a href="#">Cancer</a>
    <ul class="level-3">
    <li><a href="#">'Alternative cancer therapies' may increase your risk of death</a>
    </li>
    <li><a href="#">'Angelina Jolie effect' doubled breast gene tests</a>
    </li>
    <li><a href="#">'Breast cancer blood test' needs more work</a>
    </li>
    <li><a href="#">'Cancer-killing gene' found</a>
    </li>
    <li><a href="#">'Carbs linked to lung cancer,' study finds</a>
    </li>
    <li><a href="#">'Chocolate good for the heart' claims sadly too good to be true</a>
    </li>
    <li><a href="#">'Contaminated air' on planes linked to health problems</a>
    </li>
    <li><a href="#">'Crocus drug' studied for cancer treatment</a>
    </li>
    <li><a href="#">'Early days' for lung cancer drug</a>
    </li>
    <li><a href="#">'Everyday chemicals' linked to cancer</a>
    </li>
    <li><a href="#">'Genetic brake' for disease</a>
    </li>
    <li><a href="#">'Good result' in cancer drug trial</a>
    </li>
    <li><a href="#">'Junk food' may increase cancer risk in 'healthy weight' women</a>
    </li>
    <li><a href="#">'Key breast cancer molecule found'</a>
    </li>
    <li><a href="#">'Key' to cancer spread tested in mice</a>
    </li>
    <li><a href="#">'Make TVs safe' says charity</a>
    </li>
    <li><a href="#">'Nanobees' for cancer</a>
    </li>
    <li><a href="#">'Natural' molecule fights melanoma in mice</a>
    </li>
    <li><a href="#">'No link' between night shifts and breast cancer risk</a>
    </li>
    <li><a href="#">'No link' between nuclear plants and child cancer</a>
    </li>
    <li><a href="#">'One in eight' will get breast cancer</a>
    </li>
    <li><a href="#">'Piggy-backing proteins' could kill cancer cells</a>
    </li>
    <li><a href="#">'Promising' new test for ovarian cancer developed</a>
    </li>
    <li><a href="#">'Secret ginger gene' may increase skin cancer risk for millions</a>
    </li>
    <li><a href="#">'Silver surfers' may have lower depression risk</a>
    </li>
    <li><a href="#">'Slob lifestyle' cancer claim</a>
    </li>
    <li><a href="#">'Smart drug' offers breast cancer hope</a>
    </li>
    <li><a href="#">'Trojan horse' cancer therapy could be effective</a>
    </li>
    <li><a href="#">'Vegetarians get less cancer'</a>
    </li>
    <li><a href="#">'Watching' prostate cancer</a>
    </li>
    <li><a href="#">20% rise in penile cancer: are STIs to blame?</a>
    </li>
    <li><a href="#">5-a-day 'does not help breast cancer'</a>
    </li>
    <li><a href="#">A diet rich in veg and fish may reduce bowel cancer risk</a>
    </li>
    <li><a href="#">A nagging sore throat may be an early sign of cancer</a>
    </li>
    <li><a href="#">Abortion and breast cancer controversy</a>
    </li>
    <li><a href="#">Acid reflux drugs linked to increased stomach cancer risk</a>
    </li>
    <li><a href="#">Acrylamide in frozen chips 'cancer risk'</a>
    </li>
    <li><a href="#">Aggressive breast cancer protein discovered</a>
    </li>
    <li><a href="#">Air pollution linked to lung cancer and heart failure</a>
    </li>
    <li><a href="#">Alcohol 'a direct cause of seven types of cancer'</a>
    </li>
    <li><a href="#">Alcohol 'a major cause of cancer'</a>
    </li>
    <li><a href="#">Alcohol 'increases risk of bowel cancer'</a>
    </li>
    <li><a href="#">Alcohol linked to an increased risk of skin cancer</a>
    </li>
    <li><a href="#">Anastrozole may cut breast cancer risk</a>
    </li>
    <li><a href="#">Anti-cancer cream for wrinkles</a>
    </li>
    <li><a href="#">Antibiotics and vitamin C could kill cancer cells</a>
    </li>
    <li><a href="#">Antibody promise for lymphoma</a>
    </li>
    <li><a href="#">Anxiety and depression linked to increased cancer death risk</a>
    </li>
    <li><a href="#">Are 'turbocharged' immune cells key to cancer cure?</a>
    </li>
    <li><a href="#">Are crowdfunding sites promoting quack treatments for cancer?</a>
    </li>
    <li><a href="#">Are deodorants linked with breast cancer?</a>
    </li>
    <li><a href="#">Are insulin-resistant men less prone to prostate cancer?</a>
    </li>
    <li><a href="#">Are most cancers down to 'bad luck'?</a>
    </li>
    <li><a href="#">Arsenic and leukaemia</a>
    </li>
    <li><a href="#">Arthritis drug could also help combat ovarian cancer</a>
    </li>
    <li><a href="#">Aspirin 'cuts stomach cancer'</a>
    </li>
    <li><a href="#">Aspirin 'cuts' breast cancer risk</a>
    </li>
    <li><a href="#">Aspirin 'cuts' cancer risk</a>
    </li>
    <li><a href="#">Aspirin and breast cancer</a>
    </li>
    <li><a href="#">Aspirin cuts bowel cancer risk</a>
    </li>
    <li><a href="#">Aspirin lowers risk of hereditary bowel cancer in obese people</a>
    </li>
    <li><a href="#">Asthma cancer claims unfounded</a>
    </li>
    <li><a href="#">Bacon and leukaemia</a>
    </li>
    <li><a href="#">Bacteria found in bowel tumours but link is unclear</a>
    </li>
    <li><a href="#">Baldness and prostate cancer risk</a>
    </li>
    <li><a href="#">Baldness prostate cancer link unclear</a>
    </li>
    <li><a href="#">Beans and lentils 'lower cancer risk'</a>
    </li>
    <li><a href="#">Benefits of breast screening questioned</a>
    </li>
    <li><a href="#">Bigger bra size 'linked with breast cancer'</a>
    </li>
    <li><a href="#">Birth size linked to breast cancer</a>
    </li>
    <li><a href="#">Bitter melon in cancer test</a>
    </li>
    <li><a href="#">Black women get breast cancer earlier</a>
    </li>
    <li><a href="#">Blood pressure pills 'cancer link'</a>
    </li>
    <li><a href="#">Blood sugar and cancer risk</a>
    </li>
    <li><a href="#">Blood test could help improve prostate cancer outcomes</a>
    </li>
    <li><a href="#">Blood test for breast cancer 'has potential'</a>
    </li>
    <li><a href="#">Blood test for early cancers</a>
    </li>
    <li><a href="#">Blood test for prostate cancer</a>
    </li>
    <li><a href="#">Bone drug may cut cancer risk</a>
    </li>
    <li><a href="#">Bone drugs and cancer rates</a>
    </li>
    <li><a href="#">Bone marrow cancer gene clues found</a>
    </li>
    <li><a href="#">Boost for bowel cancer screening</a>
    </li>
    <li><a href="#">Botox may be useful in treating stomach cancers</a>
    </li>
    <li><a href="#">Bowel cancer protection from aspirin unclear</a>
    </li>
    <li><a href="#">Bowel cancer up 30% for men in 35 years</a>
    </li>
    <li><a href="#">Bowel test 'slashes cancer deaths'</a>
    </li>
    <li><a href="#">Brain cancer not linked to phones</a>
    </li>
    <li><a href="#">Brain tumour risk linked to high blood pressure</a>
    </li>
    <li><a href="#">Breast cancer 'actually 10 different diseases'</a>
    </li>
    <li><a href="#">Breast cancer 'changes' as it spreads</a>
    </li>
    <li><a href="#">Breast cancer 'tumour trigger' that spreads disease discovered</a>
    </li>
    <li><a href="#">Breast cancer counselling</a>
    </li>
    <li><a href="#">Breast cancer drug studies 'subject to spin'</a>
    </li>
    <li><a href="#">Breast cancer drugs set for preventative use</a>
    </li>
    <li><a href="#">Breast cancer enzyme may slow tumour growth</a>
    </li>
    <li><a href="#">Breast cancer exercise advice may change</a>
    </li>
    <li><a href="#">Breast cancer gene</a>
    </li>
    <li><a href="#">Breast cancer gene and smoking is a 'lethal mix'</a>
    </li>
    <li><a href="#">Breast cancer gene discovered</a>
    </li>
    <li><a href="#">Breast cancer gene has no effect on survival</a>
    </li>
    <li><a href="#">Breast cancer genes examined</a>
    </li>
    <li><a href="#">Breast cancer link to alcohol studied</a>
    </li>
    <li><a href="#">Breast cancer migraine link</a>
    </li>
    <li><a href="#">Breast cancer more likely to reoccur in black women</a>
    </li>
    <li><a href="#">Breast cancer probe shows promise</a>
    </li>
    <li><a href="#">Breast cancer rates in under-50s at record high</a>
    </li>
    <li><a href="#">Breast cancer screening</a>
    </li>
    <li><a href="#">Breast cancer screening 'cuts deaths by 40%' expert panel says</a>
    </li>
    <li><a href="#">Breast cancer screening 'halves deaths'</a>
    </li>
    <li><a href="#">Breast cancer screening 'may not reduce deaths'</a>
    </li>
    <li><a href="#">Breast cancer screening 'works'</a>
    </li>
    <li><a href="#">Breast cancer spread 'halted'</a>
    </li>
    <li><a href="#">Breast cancer test 'reduces need for chemotherapy'</a>
    </li>
    <li><a href="#">Breast cancer test may stop un-needed therapy</a>
    </li>
    <li><a href="#">Breast cancer, blood sugar and body fat</a>
    </li>
    <li><a href="#">Breast cancer: new genetic clues</a>
    </li>
    <li><a href="#">Breast cancer: weak tea study</a>
    </li>
    <li><a href="#">Breast implants may make cancer harder to spot</a>
    </li>
    <li><a href="#">Breast implants scrutinised following cancer death</a>
    </li>
    <li><a href="#">Breast screening ‘is beneficial’</a>
    </li>
    <li><a href="#">Breath test could help spot stomach cancer early</a>
    </li>
    <li><a href="#">Breath test shows potential for detecting cancer</a>
    </li>
    <li><a href="#">Breath test shows promise in diagnosing stomach cancer</a>
    </li>
    <li><a href="#">Brittle bones drug and breast cancer</a>
    </li>
    <li><a href="#">Broccoli and breast cancer</a>
    </li>
    <li><a href="#">CT scans 'linked to brain cancer risk'</a>
    </li>
    <li><a href="#">CT scans and cancer risk</a>
    </li>
    <li><a href="#">Call to give breast cancer drugs to high risk women</a>
    </li>
    <li><a href="#">Can aspirin reduce bowel cancer risk?</a>
    </li>
    <li><a href="#">Can aspirin reduce breast cancer risk?</a>
    </li>
    <li><a href="#">Can brisk walks block prostate cancer?</a>
    </li>
    <li><a href="#">Can dogs sniff out lung cancer?</a>
    </li>
    <li><a href="#">Can frankincense really fight cancer?</a>
    </li>
    <li><a href="#">Can hormone drug treatment cure prostate cancer?</a>
    </li>
    <li><a href="#">Can keeping your teeth clean protect against oesophageal cancer?</a>
    </li>
    <li><a href="#">Can night shifts give you breast cancer?</a>
    </li>
    <li><a href="#">Can socialising fight cancer?</a>
    </li>
    <li><a href="#">Cancer and risk factors: the evidence</a>
    </li>
    <li><a href="#">Cancer and socioeconomic group</a>
    </li>
    <li><a href="#">Cancer cases rise, but more people survive</a>
    </li>
    <li><a href="#">Cancer cell insight may 'revolutionise treatment'</a>
    </li>
    <li><a href="#">Cancer death rates are a third higher in men</a>
    </li>
    <li><a href="#">Cancer drug 'surprise finding'</a>
    </li>
    <li><a href="#">Cancer drug shows early promise</a>
    </li>
    <li><a href="#">Cancer enzyme structure uncovered</a>
    </li>
    <li><a href="#">Cancer gene mutation identified</a>
    </li>
    <li><a href="#">Cancer guidelines may improve diagnosis rates</a>
    </li>
    <li><a href="#">Cancer linked to red meat</a>
    </li>
    <li><a href="#">Cancer passes from mother to unborn child</a>
    </li>
    <li><a href="#">Cancer patients stick with doctors</a>
    </li>
    <li><a href="#">Cancer rates on the rise</a>
    </li>
    <li><a href="#">Cancer relapse lower with statins</a>
    </li>
    <li><a href="#">Cancer resistant 'supermouse'</a>
    </li>
    <li><a href="#">Cancer risk after combined HRT</a>
    </li>
    <li><a href="#">Cancer risk in obese women</a>
    </li>
    <li><a href="#">Cancer risk of drinking</a>
    </li>
    <li><a href="#">Cancer risk of overcooked meat tested in mice</a>
    </li>
    <li><a href="#">Cancer risk with carbon nanotubes</a>
    </li>
    <li><a href="#">Cancer spread mechanism probed</a>
    </li>
    <li><a href="#">Cancer survival higher with smear tests</a>
    </li>
    <li><a href="#">Cancer survival rates 'threatened by rising cost'</a>
    </li>
    <li><a href="#">Cancer survival rates compared</a>
    </li>
    <li><a href="#">Cancer survival rates still vary says charity</a>
    </li>
    <li><a href="#">Cancer survival with aspirin explored</a>
    </li>
    <li><a href="#">Cancer tests 'can lead to anxiety'</a>
    </li>
    <li><a href="#">Cancer treatment goes viral...</a>
    </li>
    <li><a href="#">Cancer treatment response may be affected by gut bacteria</a>
    </li>
    <li><a href="#">Cancer's defence mechanism probed</a>
    </li>
    <li><a href="#">Cancer-spread enzyme 'found'</a>
    </li>
    <li><a href="#">Candles, romance and... cancer?</a>
    </li>
    <li><a href="#">Cannabis link to cancer</a>
    </li>
    <li><a href="#">Carrot chemical 'may cut cancer risk'</a>
    </li>
    <li><a href="#">Cervical cancer 'could become a thing of the past'</a>
    </li>
    <li><a href="#">Cervical screening every 10 years for healthy women is 'safe'</a>
    </li>
    <li><a href="#">Charity calls for boys to get HPV jab</a>
    </li>
    <li><a href="#">Charity launches major cancer genetics project</a>
    </li>
    <li><a href="#">Charity urges EU to give kids cancer drugs access</a>
    </li>
    <li><a href="#">Cheap holidays 'increased' melanoma rates</a>
    </li>
    <li><a href="#">Chemo during pregnancy likely to be safe</a>
    </li>
    <li><a href="#">Chemotherapy 'encourages cancer' claim researchers</a>
    </li>
    <li><a href="#">Chemotherapy and infertility</a>
    </li>
    <li><a href="#">Chemotherapy for children</a>
    </li>
    <li><a href="#">Chemotherapy's effects on the brain</a>
    </li>
    <li><a href="#">Child leukaemia linked to reduced exposure to germs</a>
    </li>
    <li><a href="#">Chocolate, wrinkles and skin cancer</a>
    </li>
    <li><a href="#">Choir singing may boost immunity in people affected by cancer</a>
    </li>
    <li><a href="#">Chokeberry extract 'boosts pancreas cancer chemo'</a>
    </li>
    <li><a href="#">Cholesterol and cancer risk</a>
    </li>
    <li><a href="#">Cholesterol-lowering drug and cancer</a>
    </li>
    <li><a href="#">Claims of GM foods 'link to cancer' disputed by other researchers</a>
    </li>
    <li><a href="#">Claims of a universal cure for cancer 'misleading'</a>
    </li>
    <li><a href="#">Claims rhubarb pigment 'could help cancer crumble'</a>
    </li>
    <li><a href="#">Cloned immune cells treat skin cancer</a>
    </li>
    <li><a href="#">Clot risk in prostate cancer</a>
    </li>
    <li><a href="#">Clues to why 'vaccine' for prostate cancer works</a>
    </li>
    <li><a href="#">Cocktail of skin cancer drugs 'shrinks melanomas'</a>
    </li>
    <li><a href="#">Coffee and mouth cancer</a>
    </li>
    <li><a href="#">Coffee could make breast cancer drug tamoxifen more effective</a>
    </li>
    <li><a href="#">Coffee's cancer risk downgraded (as long as you don't drink it hot)</a>
    </li>
    <li><a href="#">Coil hope for early womb cancer</a>
    </li>
    <li><a href="#">Colon cancer predicted to rise</a>
    </li>
    <li><a href="#">Combination chemo tested in lung cancer</a>
    </li>
    <li><a href="#">Combined HRT breast cancer risk 'may have been underestimated'</a>
    </li>
    <li><a href="#">Combined Pill may raise breast cancer risk</a>
    </li>
    <li><a href="#">Combined prostate treatment</a>
    </li>
    <li><a href="#">Common food additives 'linked' to bowel cancer</a>
    </li>
    <li><a href="#">Concerns raised about late diagnosis of lung cancer</a>
    </li>
    <li><a href="#">Contraceptive pill 'cuts womb cancer risk'</a>
    </li>
    <li><a href="#">Cooking carrots and cancer</a>
    </li>
    <li><a href="#">Cost of cancer treatment questioned</a>
    </li>
    <li><a href="#">Cot death risk and fan use</a>
    </li>
    <li><a href="#">Could 5:2 diet play a role in preventing breast cancer?</a>
    </li>
    <li><a href="#">Could a blood test be used to detect lung cancer?</a>
    </li>
    <li><a href="#">Could avocados hold the key to treating leukaemia?</a>
    </li>
    <li><a href="#">Could caffeine boost sunscreen?</a>
    </li>
    <li><a href="#">Could naked mole rats' "gooey" skin stop cancer?</a>
    </li>
    <li><a href="#">Could new gene markers herald better cancer tests?</a>
    </li>
    <li><a href="#">Could new tests use sugar to help detect cancer?</a>
    </li>
    <li><a href="#">Could sex with 21 women 'cut prostate risk'?</a>
    </li>
    <li><a href="#">Could statins prevent breast cancer returning?</a>
    </li>
    <li><a href="#">Curry spice kills cancer cells</a>
    </li>
    <li><a href="#">Cycling linked to prostate cancer, but not infertility</a>
    </li>
    <li><a href="#">DNA test for prostate cancer relapse</a>
    </li>
    <li><a href="#">Daily aspirin 'reduces cancer risk', study finds</a>
    </li>
    <li><a href="#">Daily aspirin use 'cuts cancer deaths'</a>
    </li>
    <li><a href="#">Daily low-dose aspirin may help combat cancer</a>
    </li>
    <li><a href="#">Daily stroll 'cuts breast cancer risk'</a>
    </li>
    <li><a href="#">Dental health 'may be sign of cancer risk'</a>
    </li>
    <li><a href="#">Depression therapy aids other cancer symptoms</a>
    </li>
    <li><a href="#">Diabetes could be a warning sign of pancreatic cancer</a>
    </li>
    <li><a href="#">Diabetes drug and cancer</a>
    </li>
    <li><a href="#">Diabetes drug linked to increased bladder cancer risk</a>
    </li>
    <li><a href="#">Diet and exercise 'cut womb cancer risk'</a>
    </li>
    <li><a href="#">Diet swap study highlights bowel effects of western-style diet</a>
    </li>
    <li><a href="#">Discovery could 'boost immune system's cancer fighting ability'</a>
    </li>
    <li><a href="#">Do big babies turn into obese kids?</a>
    </li>
    <li><a href="#">Do eggs raise prostate cancer risk?</a>
    </li>
    <li><a href="#">Do potatoes reduce stomach cancer risk?</a>
    </li>
    <li><a href="#">Do shop receipts contain cancer-causing chemicals?</a>
    </li>
    <li><a href="#">Does 'ginger gene' increase skin cancer risk?</a>
    </li>
    <li><a href="#">Does alcohol affect breast cancer survival?</a>
    </li>
    <li><a href="#">Does aspirin cut bowel cancer risk?</a>
    </li>
    <li><a href="#">Does aspirin cut cancer risk?</a>
    </li>
    <li><a href="#">Does breast screening do more harm than good?</a>
    </li>
    <li><a href="#">Does coffee reduce prostate cancer risk?</a>
    </li>
    <li><a href="#">Does drinking very hot tea cause oesophageal cancer?</a>
    </li>
    <li><a href="#">Does heart drug boost cancer survival?</a>
    </li>
    <li><a href="#">Does high blood pressure cause prostate cancer?</a>
    </li>
    <li><a href="#">Does milk fight bowel cancer?</a>
    </li>
    <li><a href="#">Does plain packaging help smokers quit?</a>
    </li>
    <li><a href="#">Does stress cause cancer?</a>
    </li>
    <li><a href="#">Does sunlight affect breast cancer risk?</a>
    </li>
    <li><a href="#">Dog that can 'sniff out bowel cancer'</a>
    </li>
    <li><a href="#">Drinking very hot tea linked with risk of 1 type of oesophageal cancer</a>
    </li>
    <li><a href="#">Drinks industry accused of downplaying 'alcohol-cancer risk'</a>
    </li>
    <li><a href="#">Drug 'kills key cancer cells'</a>
    </li>
    <li><a href="#">Drug 'shrinks skin tumours'</a>
    </li>
    <li><a href="#">Drug combo may fight pancreas cancer</a>
    </li>
    <li><a href="#">Drug for late-stage prostate cancer</a>
    </li>
    <li><a href="#">Drug protects cells from radiation</a>
    </li>
    <li><a href="#">Drugs to be offered to women at high risk of breast cancer</a>
    </li>
    <li><a href="#">Earlier breast screening in high-risk women shows 'encouraging' results</a>
    </li>
    <li><a href="#">Earlier cervical cancer detection with DNA test</a>
    </li>
    <li><a href="#">Early animal research into blocking breast cancer</a>
    </li>
    <li><a href="#">Early breast cancer: MRI v mammography</a>
    </li>
    <li><a href="#">Early sex cervical cancer link</a>
    </li>
    <li><a href="#">Early tests on anti-cancer virus</a>
    </li>
    <li><a href="#">Early tests on cervical cancer drugs</a>
    </li>
    <li><a href="#">Eating oily fish 'may boost bowel cancer survival'</a>
    </li>
    <li><a href="#">Eating organic food linked with lower cancer risk</a>
    </li>
    <li><a href="#">Eczema may help protect against skin cancer</a>
    </li>
    <li><a href="#">Edible flowers not proven to prevent cancer</a>
    </li>
    <li><a href="#">Engineered virus 'attacks cancer cells'</a>
    </li>
    <li><a href="#">Europe cancer deaths 'may fall in 2011'</a>
    </li>
    <li><a href="#">Everyday chemicals may contribute to cancer risk</a>
    </li>
    <li><a href="#">Excess body fat now linked to 13 different types of cancer</a>
    </li>
    <li><a href="#">Exercise 'most proven method' to prevent return of breast cancer</a>
    </li>
    <li><a href="#">Exercise 'prevents and treats' cancer</a>
    </li>
    <li><a href="#">Exercise and breast cancer</a>
    </li>
    <li><a href="#">Exercise cuts bowel cancer</a>
    </li>
    <li><a href="#">Exercise may cut breast cancer risk, study finds</a>
    </li>
    <li><a href="#">Experimental protein for leukaemia</a>
    </li>
    <li><a href="#">Facebook 'cancer risk'</a>
    </li>
    <li><a href="#">Family breast cancer raises risk</a>
    </li>
    <li><a href="#">Female kidney and bladder cancers diagnosed late</a>
    </li>
    <li><a href="#">Female lung cancer deaths 'may outstrip breast cancer' in 2015</a>
    </li>
    <li><a href="#">Fertility drugs and cancer</a>
    </li>
    <li><a href="#">Finger length 'predicts prostate cancer'</a>
    </li>
    <li><a href="#">Fish oil 'may fight breast cancer'</a>
    </li>
    <li><a href="#">Fish oil supplements linked to prostate cancer</a>
    </li>
    <li><a href="#">Fish oils may be linked to reduced breast cancer risk</a>
    </li>
    <li><a href="#">Fit middle-aged men have lower cancer risk</a>
    </li>
    <li><a href="#">Five ways to cut risk of bowel cancer</a>
    </li>
    <li><a href="#">Four cups of coffee a day 'halves' mouth cancer risk</a>
    </li>
    <li><a href="#">Four cups of coffee a day 'protects against bowel cancer'</a>
    </li>
    <li><a href="#">Frequent ejaculation may decrease prostate cancer risk</a>
    </li>
    <li><a href="#">Frog slime could protect us against future flu epidemic</a>
    </li>
    <li><a href="#">Frying chips? Soak them first</a>
    </li>
    <li><a href="#">Fumes from frying steak probed</a>
    </li>
    <li><a href="#">GPs 'failing to prescribe tamoxifen to prevent breast cancer'</a>
    </li>
    <li><a href="#">Garden weed extract 'fights skin cancer'</a>
    </li>
    <li><a href="#">Garlic study raises hopes for rare brain cancer</a>
    </li>
    <li><a href="#">Gastric bands and cancer rates</a>
    </li>
    <li><a href="#">Gene 'switches off cancer'</a>
    </li>
    <li><a href="#">Gene linked to family ovarian cancer risk</a>
    </li>
    <li><a href="#">Gene scanning 'could improve screening for oesophageal cancer'</a>
    </li>
    <li><a href="#">Gene tests for prostate cancer may be possible</a>
    </li>
    <li><a href="#">Genes for testicular cancer found</a>
    </li>
    <li><a href="#">Genes linked to bowel cancer</a>
    </li>
    <li><a href="#">Genes play a role in lung cancer</a>
    </li>
    <li><a href="#">Genes tweaked to 'starve' prostate cancer cells</a>
    </li>
    <li><a href="#">Genetic clue to origins of pancreas cancer</a>
    </li>
    <li><a href="#">Genetic link to child brain tumour</a>
    </li>
    <li><a href="#">Genetic mutation linked to lung cancer</a>
    </li>
    <li><a href="#">Genetic test to classify tumours</a>
    </li>
    <li><a href="#">Genetic testing for breast cancer</a>
    </li>
    <li><a href="#">Genetics 'boost prostate cancer test'</a>
    </li>
    <li><a href="#">Glowing dye 'boosts cancer surgery'</a>
    </li>
    <li><a href="#">Going bald by 40 'raises prostate cancer risk'</a>
    </li>
    <li><a href="#">Good results for bowel cancer testing</a>
    </li>
    <li><a href="#">Grapefruit breast cancer 'link'</a>
    </li>
    <li><a href="#">Grapefruit juice 'boosts cancer drugs' claim</a>
    </li>
    <li><a href="#">Green tea compound may improve cancer drugs</a>
    </li>
    <li><a href="#">Green tea for prostate cancer</a>
    </li>
    <li><a href="#">Green tea – a cancer-fighting drink?</a>
    </li>
    <li><a href="#">Growth hormone and breast cancer</a>
    </li>
    <li><a href="#">Gum disease link to cancer risk</a>
    </li>
    <li><a href="#">Gut bacteria and bowel cancer</a>
    </li>
    <li><a href="#">HIFU ultrasound hope for prostate cancer</a>
    </li>
    <li><a href="#">HIV drug may slow the spread of prostate cancer</a>
    </li>
    <li><a href="#">HPV test alternative to smear</a>
    </li>
    <li><a href="#">HPV testing could be more accurate than smear tests for initial screening of cervical cancer</a>
    </li>
    <li><a href="#">HPV urine test could screen for cervical cancer</a>
    </li>
    <li><a href="#">HPV vaccine 'safe and effective', says review</a>
    </li>
    <li><a href="#">HPV vaccine uptake</a>
    </li>
    <li><a href="#">HRT and breast scan abnormalities</a>
    </li>
    <li><a href="#">HRT cancer connection</a>
    </li>
    <li><a href="#">HRT raises lung cancer risk</a>
    </li>
    <li><a href="#">HRT ups ovarian cancer risk 43% but overall risk still small</a>
    </li>
    <li><a href="#">Handful of nuts 'cuts heart disease and cancer' risk</a>
    </li>
    <li><a href="#">Health effects of sunshine</a>
    </li>
    <li><a href="#">Healthier lifestyles 'could cut cancer death rates'</a>
    </li>
    <li><a href="#">Healthy older adults carry leukaemia mutations</a>
    </li>
    <li><a href="#">Heart failure patients may have higher cancer risk</a>
    </li>
    <li><a href="#">Heart risk from child cancers</a>
    </li>
    <li><a href="#">Height and prostate cancer</a>
    </li>
    <li><a href="#">Herceptin with chemotherapy?</a>
    </li>
    <li><a href="#">High-factor sunscreen doesn’t cut melanoma risk</a>
    </li>
    <li><a href="#">High-precision radiotherapy for prostate cancer 'shows promise'</a>
    </li>
    <li><a href="#">Hope that blood test 'could diagnose five types of cancer'</a>
    </li>
    <li><a href="#">Hopes raised for a blood test that may help spot 8 common cancers</a>
    </li>
    <li><a href="#">Hormone drugs can cut breast cancer rates</a>
    </li>
    <li><a href="#">Hormone oestrogen linked to male breast cancer</a>
    </li>
    <li><a href="#">Hormone therapy aids cancer treatment</a>
    </li>
    <li><a href="#">Hormone therapy aids prostate cancer survival</a>
    </li>
    <li><a href="#">Hot tea and cancer</a>
    </li>
    <li><a href="#">Household cleaners and cancer risk</a>
    </li>
    <li><a href="#">How dogs could sniff out prostate cancer</a>
    </li>
    <li><a href="#">Hypnosis may ease breast cancer surgery</a>
    </li>
    <li><a href="#">IUD contraception linked to lower cervical cancer risk</a>
    </li>
    <li><a href="#">Immune drug linked to cancer</a>
    </li>
    <li><a href="#">Immune system could be altered to attack cancer</a>
    </li>
    <li><a href="#">Immune system holds cancer dormant</a>
    </li>
    <li><a href="#">Immunotherapy drug combo could combat melanoma</a>
    </li>
    <li><a href="#">Important clues to chemo resistance found</a>
    </li>
    <li><a href="#">Incense smoke and cancer risk</a>
    </li>
    <li><a href="#">Infection link to leukaemia</a>
    </li>
    <li><a href="#">Invasive early prostate cancer treatments not always needed</a>
    </li>
    <li><a href="#">Is HPV common in young women in England?</a>
    </li>
    <li><a href="#">Is UK obesity fuelling an increase in 10 cancers?</a>
    </li>
    <li><a href="#">Is bad luck the leading cause of cancer?</a>
    </li>
    <li><a href="#">Is being married 'better than chemo' for cancer?</a>
    </li>
    <li><a href="#">Is frequent mouthwash use linked to oral cancer?</a>
    </li>
    <li><a href="#">Is incense smoke more dangerous than tobacco smoke?</a>
    </li>
    <li><a href="#">Is oestrogen involved in oral cancer?</a>
    </li>
    <li><a href="#">Japanese radiation poses no risk to UK</a>
    </li>
    <li><a href="#">Jury out on coffee and skin cancer</a>
    </li>
    <li><a href="#">Just five sunburns increase your cancer risk</a>
    </li>
    <li><a href="#">Just one drink a day 'may raise breast cancer risk'</a>
    </li>
    <li><a href="#">Lab tests on 'cancer vaccine'</a>
    </li>
    <li><a href="#">Lab-grown killer cells could treat brain tumours</a>
    </li>
    <li><a href="#">Lab-grown mini tumours offer hope for personalised cancer treatment</a>
    </li>
    <li><a href="#">Lack of sleep knocks your social appeal, says research</a>
    </li>
    <li><a href="#">Late cancer diagnosis 'costing lives and money'</a>
    </li>
    <li><a href="#">Leukaemia discovery shows promise</a>
    </li>
    <li><a href="#">Leukaemia drug tested</a>
    </li>
    <li><a href="#">Leukaemia vaccine to be tested</a>
    </li>
    <li><a href="#">Lifestyle and cancer rates</a>
    </li>
    <li><a href="#">Lifestyle changes could slash cancer rates</a>
    </li>
    <li><a href="#">Light ‘could help cancer vaccine’</a>
    </li>
    <li><a href="#">Link between HPV infection and prostate cancer not established</a>
    </li>
    <li><a href="#">Link between mother's hips and breast cancer</a>
    </li>
    <li><a href="#">Links between hay fever, asthma and prostate cancer inconclusive</a>
    </li>
    <li><a href="#">Liver cancer on the rise</a>
    </li>
    <li><a href="#">Loneliness and cancer risk</a>
    </li>
    <li><a href="#">Long-term mobile phone use and brain cancer</a>
    </li>
    <li><a href="#">Long-term night shifts can 'double' breast cancer risk</a>
    </li>
    <li><a href="#">Long-term painkiller use linked to cancer risk</a>
    </li>
    <li><a href="#">Low-fat diet reduces risk of breast cancer death</a>
    </li>
    <li><a href="#">Lower dose radiotherapy for cancer</a>
    </li>
    <li><a href="#">Lumpectomy 'as effective as double mastectomy'</a>
    </li>
    <li><a href="#">Lung and pancreatic cancers may be on the rise</a>
    </li>
    <li><a href="#">Lung cancer link to lack of sun</a>
    </li>
    <li><a href="#">Lung cancer rates in women 'to soar' by 2040</a>
    </li>
    <li><a href="#">MRI scans could spare 25% of men from prostate biopsies</a>
    </li>
    <li><a href="#">Macmillan finds cancer survival 'postcode lottery'</a>
    </li>
    <li><a href="#">Magnet guided cancer treatment</a>
    </li>
    <li><a href="#">Mammograms 'boost breast cancer risk' in women with 'faulty genes'</a>
    </li>
    <li><a href="#">Many cancers caused by 'treatable infections'</a>
    </li>
    <li><a href="#">Many new cancer drugs show 'no clear benefit', argues review</a>
    </li>
    <li><a href="#">Measles virus used to treat bone marrow cancer</a>
    </li>
    <li><a href="#">Meat, potatoes and lung cancer</a>
    </li>
    <li><a href="#">Media claims of breast cancer testing tool are premature</a>
    </li>
    <li><a href="#">Mediterranean diet 'cuts cancer risk'</a>
    </li>
    <li><a href="#">Mediterranean diet and skin cancer</a>
    </li>
    <li><a href="#">Mediterranean diet linked to lower risk of one type of breast cancer</a>
    </li>
    <li><a href="#">Men who perform oral sex on women 'more at risk of mouth and throat cancers'</a>
    </li>
    <li><a href="#">Menopause symptoms and breast cancer risk</a>
    </li>
    <li><a href="#">Metastatic breast cancer blood test performs well</a>
    </li>
    <li><a href="#">Mobile phone cancer link unproven, says HPA</a>
    </li>
    <li><a href="#">Mobile phones 'a possible carcinogen'</a>
    </li>
    <li><a href="#">Mobile phones 'unlikely to cause brain tumours'</a>
    </li>
    <li><a href="#">Mobile phones and mouth cancer</a>
    </li>
    <li><a href="#">Mobile phones and risk of brain cancer</a>
    </li>
    <li><a href="#">Mobiles 'don't increase brain cancer risk'</a>
    </li>
    <li><a href="#">Mobiles not linked to child cancer</a>
    </li>
    <li><a href="#">Modified Ecstasy used in blood cancer study</a>
    </li>
    <li><a href="#">Modified herpes virus 'could combat skin cancer'</a>
    </li>
    <li><a href="#">Moisturised mice</a>
    </li>
    <li><a href="#">More Brits than ever are living with cancer</a>
    </li>
    <li><a href="#">More cancer after melanoma</a>
    </li>
    <li><a href="#">More data on survival with new skin cancer drug</a>
    </li>
    <li><a href="#">More evidence that fibre cuts bowel cancer risk</a>
    </li>
    <li><a href="#">More questions on breast cancer screening benefits</a>
    </li>
    <li><a href="#">Mouthwash and oral cancer</a>
    </li>
    <li><a href="#">Multivitamins 'reduce cancer risk' in men</a>
    </li>
    <li><a href="#">Mushroom extract 'fights cancer'</a>
    </li>
    <li><a href="#">Mushroom extracts ’fight’ cancer</a>
    </li>
    <li><a href="#">Mushrooms and cancer risk</a>
    </li>
    <li><a href="#">NHS 'OK' for prostate cancer drug Zytiga</a>
    </li>
    <li><a href="#">NICE approves new test for spread of breast cancer</a>
    </li>
    <li><a href="#">Nanofibre lined tubes used to 'move' brain tumours</a>
    </li>
    <li><a href="#">Nanoparticles Q&A</a>
    </li>
    <li><a href="#">New 'iClusters' identify five subtypes of prostate cancer</a>
    </li>
    <li><a href="#">New HPV vaccine may protect against 90% of cervical cancers</a>
    </li>
    <li><a href="#">New NICE guidelines on sun exposure warn 'tanning is unsafe'</a>
    </li>
    <li><a href="#">New advice on pros and cons of breast screening</a>
    </li>
    <li><a href="#">New breast cancer drug?</a>
    </li>
    <li><a href="#">New breast cancer drugs could help more than previously thought</a>
    </li>
    <li><a href="#">New cancer finding</a>
    </li>
    <li><a href="#">New cervical cancer op trialled</a>
    </li>
    <li><a href="#">New discovery about how breast cancer spreads into bones</a>
    </li>
    <li><a href="#">New drug for malignant skin cancer</a>
    </li>
    <li><a href="#">New drug to stop cancer spread?</a>
    </li>
    <li><a href="#">New drug treatment for pancreatic cancer 'extends survival'</a>
    </li>
    <li><a href="#">New genetic clues about skin cancer</a>
    </li>
    <li><a href="#">New genetic risk factor for ovarian cancer identified</a>
    </li>
    <li><a href="#">New genetic variants associated with breast cancer identified</a>
    </li>
    <li><a href="#">New genetic variations identify men at higher risk of prostate cancer</a>
    </li>
    <li><a href="#">New guidance for ovarian cancer tests</a>
    </li>
    <li><a href="#">New insight into how excess belly fat may increase cancer risk</a>
    </li>
    <li><a href="#">New insights into why breast cancer drugs fail for some women</a>
    </li>
    <li><a href="#">New laser therapy for low-risk prostate cancer shows promise</a>
    </li>
    <li><a href="#">New method tested as cancer vaccine</a>
    </li>
    <li><a href="#">New prostate cancer test shows promise</a>
    </li>
    <li><a href="#">New prostate cancer treatment</a>
    </li>
    <li><a href="#">New prostate cancer treatment has promising results in mice</a>
    </li>
    <li><a href="#">New radiation drug for cancer tested</a>
    </li>
    <li><a href="#">New skin cancer drug approved</a>
    </li>
    <li><a href="#">New skin cancer drug performs well</a>
    </li>
    <li><a href="#">New skin cancer drugs show promise in lab tests</a>
    </li>
    <li><a href="#">New smear test improves cervical cancer screening</a>
    </li>
    <li><a href="#">New test could improve diagnosis of ovarian cancer</a>
    </li>
    <li><a href="#">New test for asbestos cancer</a>
    </li>
    <li><a href="#">New test shows if DCIS breast cancer will spread</a>
    </li>
    <li><a href="#">New way to distinguish between ovarian tumours</a>
    </li>
    <li><a href="#">New way to predict breast cancer returning?</a>
    </li>
    <li><a href="#">Newer types of hormonal contraceptive may still carry small breast cancer risk</a>
    </li>
    <li><a href="#">News analysis: Angelina Jolie's surgery to 'cut breast cancer risk'</a>
    </li>
    <li><a href="#">News analysis: Angelina Jolie's surgery to 'cut ovarian cancer risk'</a>
    </li>
    <li><a href="#">News analysis: Michael Douglas, oral sex and throat cancer</a>
    </li>
    <li><a href="#">Nicotine gum 'cancer risk'</a>
    </li>
    <li><a href="#">Night shift and cancer Q&A</a>
    </li>
    <li><a href="#">Night shifts 'linked to increased breast cancer risk'</a>
    </li>
    <li><a href="#">Nine out of 10 sunbeds have 'unsafe' UV levels</a>
    </li>
    <li><a href="#">No evidence chocolate 'beats cancer'</a>
    </li>
    <li><a href="#">No proof that red hair raises skin cancer risk</a>
    </li>
    <li><a href="#">No such thing as 'safe tanning'</a>
    </li>
    <li><a href="#">No way to reliably identify low-risk prostate cancer</a>
    </li>
    <li><a href="#">Non-melanoma skin cancer sunbed risk</a>
    </li>
    <li><a href="#">Non-smokers shunning e-cigarettes</a>
    </li>
    <li><a href="#">Non-smokers' lung cancer gene found</a>
    </li>
    <li><a href="#">Nuclear power 'not source of leukaemia'</a>
    </li>
    <li><a href="#">Obesity 'a major cause of breast cancer'</a>
    </li>
    <li><a href="#">Obesity and prostate cancer</a>
    </li>
    <li><a href="#">Obesity epidemic blamed for rise in womb cancer</a>
    </li>
    <li><a href="#">Obesity in teen boys may increase bowel cancer risk in later life</a>
    </li>
    <li><a href="#">Office printers study made no health claims</a>
    </li>
    <li><a href="#">Oily fish and cancer</a>
    </li>
    <li><a href="#">Oily fish protects against prostate cancer deaths</a>
    </li>
    <li><a href="#">Olive oil and breast cancer</a>
    </li>
    <li><a href="#">One in 20 cancers linked to diabetes and being overweight</a>
    </li>
    <li><a href="#">One in three women don't attend cervical screening because of 'embarrassment'</a>
    </li>
    <li><a href="#">Online tool helps men choose best prostate cancer treatment</a>
    </li>
    <li><a href="#">Only 1 in 7 high-risk women take breast cancer prevention drug</a>
    </li>
    <li><a href="#">Orange juice and grapefruit linked to melanoma skin cancer</a>
    </li>
    <li><a href="#">Osteoporosis drug for breast cancer</a>
    </li>
    <li><a href="#">Ovarian cancer and a low-fat diet</a>
    </li>
    <li><a href="#">Ovarian cancer drug 'can help with some types of prostate cancer'</a>
    </li>
    <li><a href="#">Ovarian cancer screening</a>
    </li>
    <li><a href="#">Over-65s with cancer 'set to triple by 2040'</a>
    </li>
    <li><a href="#">Overcooked food and cancer</a>
    </li>
    <li><a href="#">Overweight young men 'more likely to get severe liver disease'</a>
    </li>
    <li><a href="#">PIP implant breast cancer link ruled out</a>
    </li>
    <li><a href="#">Painkillers and breast cancer</a>
    </li>
    <li><a href="#">Pancreas cancer 'develops over years'</a>
    </li>
    <li><a href="#">Partial success for womb cancer test</a>
    </li>
    <li><a href="#">Passive smoke 'ups breast cancer risk'</a>
    </li>
    <li><a href="#">Paternal genes may influence ovarian cancer risk</a>
    </li>
    <li><a href="#">People don't know signs of cancer</a>
    </li>
    <li><a href="#">People with cancer 'need more exercise'</a>
    </li>
    <li><a href="#">Pet owners and lymphoma</a>
    </li>
    <li><a href="#">Pill cuts ovarian cancer risk</a>
    </li>
    <li><a href="#">Pill may protect against some cancers</a>
    </li>
    <li><a href="#">Pill-size camera may make cancer diagnosis easier</a>
    </li>
    <li><a href="#">Popular prostate cancer videos on YouTube 'inaccurate and biased'</a>
    </li>
    <li><a href="#">Potential of cancer breath test studied</a>
    </li>
    <li><a href="#">Potential treatment for melanoma</a>
    </li>
    <li><a href="#">Poverty link to cancer survival</a>
    </li>
    <li><a href="#">Processed meat 'causes cancer' warns WHO report</a>
    </li>
    <li><a href="#">Processed meats like bacon may increase breast cancer risk</a>
    </li>
    <li><a href="#">Prostate cancer 'linked to fertility'</a>
    </li>
    <li><a href="#">Prostate cancer and lifestyle</a>
    </li>
    <li><a href="#">Prostate cancer cookbook</a>
    </li>
    <li><a href="#">Prostate cancer genetics</a>
    </li>
    <li><a href="#">Prostate cancer linked to common STI</a>
    </li>
    <li><a href="#">Prostate cancer mutations identified</a>
    </li>
    <li><a href="#">Prostate cancer screening for older men 'unlikely'</a>
    </li>
    <li><a href="#">Prostate cancer virus link</a>
    </li>
    <li><a href="#">Prostate test 'predicts death risk'</a>
    </li>
    <li><a href="#">Protein 'may fight prostate cancer'</a>
    </li>
    <li><a href="#">Proton beam therapy 'effective' and 'causes fewer side effects'</a>
    </li>
    <li><a href="#">Purple tomatoes 'beat cancer'</a>
    </li>
    <li><a href="#">Quarter of sun-exposed skin samples had DNA mutations</a>
    </li>
    <li><a href="#">Radiofrequency ablation for lung cancer</a>
    </li>
    <li><a href="#">Radiotherapy 'provides no benefit for secondary brain tumours'</a>
    </li>
    <li><a href="#">Radiotherapy - does it really do more harm than good?</a>
    </li>
    <li><a href="#">Radiotherapy for prostate cancer</a>
    </li>
    <li><a href="#">Radon gas warning</a>
    </li>
    <li><a href="#">Rates of heart disease in the young</a>
    </li>
    <li><a href="#">Red meat consumption linked to breast cancer</a>
    </li>
    <li><a href="#">Red-meat-free diet not proven to reduce overall bowel cancer risk</a>
    </li>
    <li><a href="#">Removing copper from body could slow cancer</a>
    </li>
    <li><a href="#">Report links obesity to advanced prostate cancer</a>
    </li>
    <li><a href="#">Research raises hope of a 'Holy Grail' universal cancer vaccine</a>
    </li>
    <li><a href="#">Researchers claim breast cancer rate is linked to HRT</a>
    </li>
    <li><a href="#">Researchers discover pancreatic cancer is 'four different diseases'</a>
    </li>
    <li><a href="#">Researchers identify protein that spreads cancer</a>
    </li>
    <li><a href="#">Researchers investigate why obesity can trigger bowel cancer</a>
    </li>
    <li><a href="#">Review of prostate screening</a>
    </li>
    <li><a href="#">Risk after cervical cancer treatment</a>
    </li>
    <li><a href="#">Risk of pool water 'unclear'</a>
    </li>
    <li><a href="#">Routine blood test for prostate cancer 'doesn't save lives'</a>
    </li>
    <li><a href="#">Salt injections: not a cure for cancer</a>
    </li>
    <li><a href="#">Salty food link to stomach cancer</a>
    </li>
    <li><a href="#">Scalp and neck melanoma survival</a>
    </li>
    <li><a href="#">Scientists create light-activated cancer drugs</a>
    </li>
    <li><a href="#">Scientists fight cancer with viruses</a>
    </li>
    <li><a href="#">Screening for breast cancer genes 'is cost-effective'</a>
    </li>
    <li><a href="#">Second tumours from cancer drug</a>
    </li>
    <li><a href="#">Self breast examination and cancer</a>
    </li>
    <li><a href="#">Seven cups of tea a day 'ups prostate cancer risk'</a>
    </li>
    <li><a href="#">Seven healthy lifestyle tips could 'halve cancer risk'</a>
    </li>
    <li><a href="#">Sex life and prostate cancer</a>
    </li>
    <li><a href="#">Single men risk ignoring melanoma symptoms</a>
    </li>
    <li><a href="#">Skirt size increase ups breast cancer risk</a>
    </li>
    <li><a href="#">Smacking link to adult cancers improbable</a>
    </li>
    <li><a href="#">Smart knife can tell cancer cells from healthy tissue</a>
    </li>
    <li><a href="#">Smear test 'no benefit' in early 20s</a>
    </li>
    <li><a href="#">Smoking cannabis ‘worse than tobacco’</a>
    </li>
    <li><a href="#">Smoking causes half of all deaths in 12 different cancers</a>
    </li>
    <li><a href="#">Smoking causes hundreds of genetic mutations</a>
    </li>
    <li><a href="#">Smoking increases risk of bowel cancer in women</a>
    </li>
    <li><a href="#">Smoking, class and sex</a>
    </li>
    <li><a href="#">Snorers 'have higher cancer risk'</a>
    </li>
    <li><a href="#">Some cancer patients may be at risk of PTSD</a>
    </li>
    <li><a href="#">Some women in the UK still unaware of cervical screening</a>
    </li>
    <li><a href="#">Spotting ovarian cancer</a>
    </li>
    <li><a href="#">Statins 'may cut bowel cancer risk'</a>
    </li>
    <li><a href="#">Statins and prostate tests</a>
    </li>
    <li><a href="#">Stopping smoking more important than 5-a-day</a>
    </li>
    <li><a href="#">Stopping tamoxifen 'ups breast cancer death risk'</a>
    </li>
    <li><a href="#">Study finds no cancer link to hip implants</a>
    </li>
    <li><a href="#">Study finds no link between mobile phones and brain cancer</a>
    </li>
    <li><a href="#">Study finds no prostate screening benefit</a>
    </li>
    <li><a href="#">Study identifies marker for high-risk prostate cancers</a>
    </li>
    <li><a href="#">Study linking brain cancer and mobiles inconclusive</a>
    </li>
    <li><a href="#">Study links desk jobs to bowel cancer risk</a>
    </li>
    <li><a href="#">Study suggests aspirin affects breast cancer risk</a>
    </li>
    <li><a href="#">Study tracks health effects of fracking chemicals</a>
    </li>
    <li><a href="#">Sun and vitamin D advice given</a>
    </li>
    <li><a href="#">Sunbeds 'as bad as midday sun'</a>
    </li>
    <li><a href="#">Sunbeds 'killing hundreds each year'</a>
    </li>
    <li><a href="#">Sunbeds cause cancer</a>
    </li>
    <li><a href="#">Sunlight UV damage to skin persists even after dark</a>
    </li>
    <li><a href="#">Survey looks at common cancer myths</a>
    </li>
    <li><a href="#">Survival varies for bowel cancer ops</a>
    </li>
    <li><a href="#">Swine flu deaths examined</a>
    </li>
    <li><a href="#">Tadpoles and skin cancer</a>
    </li>
    <li><a href="#">Talc and ovarian cancer: what the most recent evidence shows</a>
    </li>
    <li><a href="#">Talcum powder and ovarian cancer</a>
    </li>
    <li><a href="#">Tamoxifen 'should be taken for full five years'</a>
    </li>
    <li><a href="#">Tangerine chemical can protect against cancer</a>
    </li>
    <li><a href="#">Tanning cancer risk Q&A</a>
    </li>
    <li><a href="#">Targeted radiotherapy trialled</a>
    </li>
    <li><a href="#">Tea cuts bowel cancer risk</a>
    </li>
    <li><a href="#">Teen drinking linked to raised breast cancer risk</a>
    </li>
    <li><a href="#">Ten years of hormone breast cancer drugs 'may benefit some'</a>
    </li>
    <li><a href="#">Ten years of tamoxifen ups cancer survival rates</a>
    </li>
    <li><a href="#">Test checks severity of prostate cancer</a>
    </li>
    <li><a href="#">Test shows malignant prostate cancer</a>
    </li>
    <li><a href="#">Testicular cancer and height</a>
    </li>
    <li><a href="#">Testosterone 'affects prostate cancer risk'</a>
    </li>
    <li><a href="#">Tests use gold to fight cancer</a>
    </li>
    <li><a href="#">Text messages help smokers quit</a>
    </li>
    <li><a href="#">The 'cancer magnet' protein</a>
    </li>
    <li><a href="#">The 'three minute prostate test'</a>
    </li>
    <li><a href="#">The pill provides 'lifelong protection against some cancers'</a>
    </li>
    <li><a href="#">There may be four distinct types of bowel cancer</a>
    </li>
    <li><a href="#">Tight belts are unlikely to give you throat cancer</a>
    </li>
    <li><a href="#">Tiny 'cancer trap' could stop cancer spread</a>
    </li>
    <li><a href="#">Toenails 'show lung cancer risk'</a>
    </li>
    <li><a href="#">Tomato-rich diet 'reduces prostate cancer risk'</a>
    </li>
    <li><a href="#">Too soon for 'aspirin doubles cancer survival' claim</a>
    </li>
    <li><a href="#">Too soon to say being tall increases cancer risk</a>
    </li>
    <li><a href="#">Too soon to say cauliflower cuts prostate cancer risk</a>
    </li>
    <li><a href="#">Treatment 'breakthrough' in man with advanced skin cancer</a>
    </li>
    <li><a href="#">Triclosan soap linked to mouse liver cancers</a>
    </li>
    <li><a href="#">Twin study sheds light on leukaemia</a>
    </li>
    <li><a href="#">UK 'among worst' for cancer linked to obesity</a>
    </li>
    <li><a href="#">UK cancer survival rates below European average</a>
    </li>
    <li><a href="#">UK facing breast cancer 'timebomb'</a>
    </li>
    <li><a href="#">UK women's life expectancy 'second worst' in Western Europe</a>
    </li>
    <li><a href="#">Ultra-processed foods linked to cancer</a>
    </li>
    <li><a href="#">Ultrasound for prostate cancer</a>
    </li>
    <li><a href="#">Under-80 cancer deaths 'eliminated by 2050' claim</a>
    </li>
    <li><a href="#">Unhealthy lifestyles linked to UK cancer rates</a>
    </li>
    <li><a href="#">Urine test for prostate cancer</a>
    </li>
    <li><a href="#">Use of cancer drug explored</a>
    </li>
    <li><a href="#">Vaginal douching 'linked to increased ovarian cancer risk'</a>
    </li>
    <li><a href="#">Vaping damages DNA in mice, which 'may increase cancer risk'</a>
    </li>
    <li><a href="#">Vasectomy-associated prostate cancer risk 'small'</a>
    </li>
    <li><a href="#">Virus 'kills prostate cancer'</a>
    </li>
    <li><a href="#">Vitamin C affects anti-cancer drugs</a>
    </li>
    <li><a href="#">Vitamin C injections could play a role in treating blood cancers</a>
    </li>
    <li><a href="#">Vitamin C jabs and cancer</a>
    </li>
    <li><a href="#">Vitamin C not proven to 'boost' chemo</a>
    </li>
    <li><a href="#">Vitamin D and cancer survival</a>
    </li>
    <li><a href="#">Vitamin D cancer merits questioned</a>
    </li>
    <li><a href="#">Vitamin D may reduce the risk of some cancers</a>
    </li>
    <li><a href="#">Vitamin E and lung cancer risk</a>
    </li>
    <li><a href="#">Vitamin pills and cancer patients</a>
    </li>
    <li><a href="#">Vitamins and breast cancer</a>
    </li>
    <li><a href="#">Vitiligo 'reduces cancer risk'</a>
    </li>
    <li><a href="#">WHO: 'Diesel exhaust fumes cancerous'</a>
    </li>
    <li><a href="#">Walking an hour a day may help cut breast cancer risk</a>
    </li>
    <li><a href="#">Walking cuts breast cancer</a>
    </li>
    <li><a href="#">Warning over 'burnt toast chemical' acrylamide's cancer risk</a>
    </li>
    <li><a href="#">Wearing a bra 'doesn't raise breast cancer risk'</a>
    </li>
    <li><a href="#">Weight and cancer risk</a>
    </li>
    <li><a href="#">Weight gain linked to breast cancer risk</a>
    </li>
    <li><a href="#">What factor sunscreen?</a>
    </li>
    <li><a href="#">When is best to screen for bowel cancer?</a>
    </li>
    <li><a href="#">Why elephants hardly ever get cancer and how that can help us</a>
    </li>
    <li><a href="#">Why rats shouldn’t wear lipstick</a>
    </li>
    <li><a href="#">Wide range of cancers now linked to being overweight</a>
    </li>
    <li><a href="#">Will scorpion venom help fight cancer?</a>
    </li>
    <li><a href="#">Woman's fertility restored after chemo</a>
    </li>
    <li><a href="#">Womb cancer up by 43% since 1990s</a>
    </li>
    <li><a href="#">Women dying needlessly due to not attending cervical screening</a>
    </li>
    <li><a href="#">Women over 50 warned not to skip smear tests</a>
    </li>
    <li><a href="#">Women who have received HPV vaccine may require fewer cervical screening tests</a>
    </li>
    <li><a href="#">Women who stop taking breast cancer drugs risk early death</a>
    </li>
    <li><a href="#">Women's cancer risk may increase the longer they're obese</a>
    </li>
    <li><a href="#">Women's lung cancer death rates set to rise</a>
    </li>
    <li><a href="#">X-ray 'brain tumour risk' is not proven</a>
    </li>
    <li><a href="#">Yoghurt fights cancer claim</a>
    </li>
    <li><a href="#">Young women with high-fibre diet may have lower breast cancer risk</a>
    </li>
    <li><a href="#">Zika virus may be useful in treating brain tumours</a>
    </li>
    <li><a href="#">‘Job strain’ and breast cancer link unproven</a>
    </li>
    <li><a href="#">‘Killer cells’ prompt hope of new cancer technique</a>
    </li>
    </ul>
  </li>
  </ul>
</li>
<li><a href="#">﻿Behind the headlines</a>
  <ul class="level-2">
  <li><a href="#">Cancer</a>
    <ul class="level-3">
    <li><a href="#">1 in 8 advanced prostate cancers may be linked to faulty genes</a>
    </li>
    </ul>
  </li>
  </ul>
</li>
</ul>





</div>
{% endblock content %}
