{% extends "layout.njk" %}
{% set title = 'Common Health Questions' %}
{% set body_class = 'home' %}
{% set stylesheet = 'styles-new.css' %}


{% block content %}
<div class="tree">

<h1>{{ title }}</h1>


<ul class="level-1">
<li><a href="#">Common Health Questions (CHQs)</a>
  <ul class="level-2">
  <li><a href="#">Accidents and first aid</a>
    <ul class="level-3">
    <li><a href="#">Can I get my stitches wet in the bath or shower?</a>
    </li>
    <li><a href="#">Do I need a tetanus jab (vaccine) after an accident or injury?</a>
    </li>
    <li><a href="#">Does my cut need stitches?</a>
    </li>
    <li><a href="#">How do I apply a bandage?</a>
    </li>
    <li><a href="#">How do I apply butterfly stitches?</a>
    </li>
    <li><a href="#">How do I apply plasters and other dressings?</a>
    </li>
    <li><a href="#">How do I care for a wound treated with skin glue?</a>
    </li>
    <li><a href="#">How do I check my pulse?</a>
    </li>
    <li><a href="#">How do I check someone's pulse?</a>
    </li>
    <li><a href="#">How do I clean a wound?</a>
    </li>
    <li><a href="#">How do I know if I've broken a bone?</a>
    </li>
    <li><a href="#">How do I take someone's temperature?</a>
    </li>
    <li><a href="#">How long should I wear compression stockings to improve my circulation?</a>
    </li>
    <li><a href="#">How long will my stitches (sutures) take to dissolve?</a>
    </li>
    <li><a href="#">How should I care for my plaster cast?</a>
    </li>
    <li><a href="#">How should I dispose of used needles or sharps?</a>
    </li>
    <li><a href="#">What are bruises?</a>
    </li>
    <li><a href="#">What should I do after contact with someone else's blood or saliva?</a>
    </li>
    <li><a href="#">What should I do if I injure myself with a used needle?</a>
    </li>
    <li><a href="#">What should I do if someone is choking?</a>
    </li>
    <li><a href="#">What should I keep in my first aid kit?</a>
    </li>
    <li><a href="#">When can I fly after surgery?</a>
    </li>
    <li><a href="#">When do tetanus symptoms show up after an injury?</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Caring, carers and long-term conditions</a>
    <ul class="level-3">
    <li><a href="#">Can I get a fit note without seeing my GP?</a>
    </li>
    <li><a href="#">Can I go back to work before the end date on my fit note?</a>
    </li>
    <li><a href="#">Can I pick up a prescription for someone else?</a>
    </li>
    <li><a href="#">Can I speak to a GP about someone else's health?</a>
    </li>
    <li><a href="#">How do I register as disabled?</a>
    </li>
    <li><a href="#">When do I need a fit note?</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Children's health</a>
    <ul class="level-3">
    <li><a href="#">Are squash and pure fruit juice better for children than fizzy drinks?</a>
    </li>
    <li><a href="#">Can I give my child painkillers?</a>
    </li>
    <li><a href="#">Can I give my child paracetamol and ibuprofen at the same time?</a>
    </li>
    <li><a href="#">Can I give my child paracetamol or ibuprofen with cough or cold medicines?</a>
    </li>
    <li><a href="#">Can I stay with my child in hospital?</a>
    </li>
    <li><a href="#">Can I take my baby on an aeroplane?</a>
    </li>
    <li><a href="#">Can I use bottled water to make up baby formula (infant formula)?</a>
    </li>
    <li><a href="#">Can my baby go swimming before or after vaccinations?</a>
    </li>
    <li><a href="#">How can I keep my baby safe during hot weather?</a>
    </li>
    <li><a href="#">How long do babies carry their mother's immunity?</a>
    </li>
    <li><a href="#">How many calories do teenagers need?</a>
    </li>
    <li><a href="#">How many calories does a child of 7 to 10 need?</a>
    </li>
    <li><a href="#">How much salt do babies and children need?</a>
    </li>
    <li><a href="#">Should my child drink alcohol?</a>
    </li>
    <li><a href="#">What age can children buy over-the-counter (OTC) medicines?</a>
    </li>
    <li><a href="#">What is a fever (high temperature) in children?</a>
    </li>
    <li><a href="#">What should I do if I think my baby is allergic or intolerant to cows' milk?</a>
    </li>
    <li><a href="#">Why are children in the UK not vaccinated against chickenpox?</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Dental health</a>
    <ul class="level-3">
    <li><a href="#">How can I access an NHS dentist in an emergency or out of hours?</a>
    </li>
    <li><a href="#">How do I complain about my dental treatment?</a>
    </li>
    <li><a href="#">How much will I pay for NHS dental treatment?</a>
    </li>
    <li><a href="#">What are NHS fillings and crowns made of?</a>
    </li>
    <li><a href="#">What are dentures, bridges, veneers and dental implants made of?</a>
    </li>
    <li><a href="#">What if my NHS dental treatment goes wrong?</a>
    </li>
    <li><a href="#">What is included in each NHS dental band charge?</a>
    </li>
    <li><a href="#">Which dental treatments are available on the NHS?</a>
    </li>
    <li><a href="#">Which foods cause tooth decay?</a>
    </li>
    <li><a href="#">Who is entitled to free NHS dental treatment in England?</a>
    </li>
    <li><a href="#">Why has my NHS dentist charged me for private treatment?</a>
    </li>
    <li><a href="#">Why should I use dental floss?</a>
    </li>
    <li><a href="#">Why should I use interdental brushes?</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Food and diet</a>
    <ul class="level-3">
    <li><a href="#">Can eating too much black liquorice be bad for you?</a>
    </li>
    <li><a href="#">Can reheating rice cause food poisoning?</a>
    </li>
    <li><a href="#">Do I need vitamin supplements?</a>
    </li>
    <li><a href="#">How can I find a registered dietitian or nutritionist?</a>
    </li>
    <li><a href="#">How can I gain weight safely?</a>
    </li>
    <li><a href="#">How much sugar is good for me?</a>
    </li>
    <li><a href="#">What is the glycaemic index (GI)?</a>
    </li>
    <li><a href="#">What should my daily intake of calories be?</a>
    </li>
    <li><a href="#">Why should I change my diet after a heart attack?</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Infections</a>
    <ul class="level-3">
    <li><a href="#">Can I get chickenpox more than once?</a>
    </li>
    <li><a href="#">Can a hospital patient with MRSA infection have visitors?</a>
    </li>
    <li><a href="#">Can clothes and towels spread germs?</a>
    </li>
    <li><a href="#">How long do bacteria and viruses live outside the body?</a>
    </li>
    <li><a href="#">How long is someone infectious after a viral infection?</a>
    </li>
    <li><a href="#">How long will I be infectious after starting antibiotics?</a>
    </li>
    <li><a href="#">How should I collect and store a stool (faeces) sample?</a>
    </li>
    <li><a href="#">How should I collect and store a urine sample?</a>
    </li>
    <li><a href="#">Is pneumonia contagious?</a>
    </li>
    <li><a href="#">What are the incubation periods for infections?</a>
    </li>
    <li><a href="#">What infections can used needles or sharps pass on?</a>
    </li>
    <li><a href="#">What is the risk of infection from someone else's blood?</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Lifestyle</a>
    <ul class="level-3">
    <li><a href="#">Am I more at risk if my relatives have cancer?</a>
    </li>
    <li><a href="#">Are sunbeds safe?</a>
    </li>
    <li><a href="#">Can I get my tattoo removed on the NHS?</a>
    </li>
    <li><a href="#">Can I go swimming after a piercing?</a>
    </li>
    <li><a href="#">Can damp and mould affect my health?</a>
    </li>
    <li><a href="#">Do I have an anxiety disorder?</a>
    </li>
    <li><a href="#">How do I get rid of damp and mould?</a>
    </li>
    <li><a href="#">How long does alcohol stay in your blood?</a>
    </li>
    <li><a href="#">What are the health benefits of losing weight?</a>
    </li>
    <li><a href="#">What are the health risks of smoking?</a>
    </li>
    <li><a href="#">What is blood pressure?</a>
    </li>
    <li><a href="#">What is the body mass index (BMI)?</a>
    </li>
    <li><a href="#">When can I fly after a heart attack?</a>
    </li>
    <li><a href="#">Why is my waist size important?</a>
    </li>
    <li><a href="#">Why is smoking addictive?</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Medicines</a>
    <ul class="level-3">
    <li><a href="#">Can I crush medicines before taking them?</a>
    </li>
    <li><a href="#">Can I drink alcohol if I'm taking antidepressants?</a>
    </li>
    <li><a href="#">Can I drink alcohol if I'm taking painkillers?</a>
    </li>
    <li><a href="#">Can I drink alcohol while taking antibiotics?</a>
    </li>
    <li><a href="#">Can I take anti-malaria medication if I'm trying for a baby?</a>
    </li>
    <li><a href="#">Can I take cough and cold remedies while I'm breastfeeding?</a>
    </li>
    <li><a href="#">Can I take hay fever medicine if I'm breastfeeding?</a>
    </li>
    <li><a href="#">Can I take ibuprofen while I'm breastfeeding?</a>
    </li>
    <li><a href="#">Can I take medication before having a blood test?</a>
    </li>
    <li><a href="#">Can I take my medicine abroad?</a>
    </li>
    <li><a href="#">Can I take paracetamol and ibuprofen together?</a>
    </li>
    <li><a href="#">Can I take paracetamol if I'm on antibiotics?</a>
    </li>
    <li><a href="#">Can I take paracetamol or ibuprofen with cough or cold medicines?</a>
    </li>
    <li><a href="#">Can I take paracetamol while I'm breastfeeding?</a>
    </li>
    <li><a href="#">Can my GP prescribe extra medication to cover my holiday?</a>
    </li>
    <li><a href="#">Can post-exposure prophylaxis (PEP) stop me getting HIV?</a>
    </li>
    <li><a href="#">Does cannabis interact with antidepressants or lithium?</a>
    </li>
    <li><a href="#">Does grapefruit affect my medicine?</a>
    </li>
    <li><a href="#">How long is a prescription valid for?</a>
    </li>
    <li><a href="#">How should antidepressants be discontinued?</a>
    </li>
    <li><a href="#">What are side effects?</a>
    </li>
    <li><a href="#">What is a controlled medicine (drug)?</a>
    </li>
    <li><a href="#">What is the law on the sale of medicines?</a>
    </li>
    <li><a href="#">What should I do if I miss a dose of antibiotics?</a>
    </li>
    <li><a href="#">When can I drink alcohol after finishing metronidazole?</a>
    </li>
    <li><a href="#">Where can I get a prescription prepayment certificate (PPC)?</a>
    </li>
    <li><a href="#">Where can I get an emergency supply of medicine?</a>
    </li>
    <li><a href="#">Who can write a prescription?</a>
    </li>
    <li><a href="#">Why can't I get a prescription for an over-the-counter medicine?</a>
    </li>
    <li><a href="#">Why can't hydrocortisone cream be used on the face?</a>
    </li>
    <li><a href="#">Why do medicines have expiry dates?</a>
    </li>
    <li><a href="#">Why must some medicines be taken on an empty stomach?</a>
    </li>
    <li><a href="#">Why must some medicines be taken with or after food?</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Men's health</a>
    <ul class="level-3">
    <li><a href="#">Can I get a paternity test on the NHS?</a>
    </li>
    <li><a href="#">How can I improve my chances of becoming a dad?</a>
    </li>
    <li><a href="#">Is it normal to have a curved penis?</a>
    </li>
    <li><a href="#">What are well man clinics?</a>
    </li>
    <li><a href="#">What is a prenatal paternity test?</a>
    </li>
    <li><a href="#">What is gynaecomastia?</a>
    </li>
    <li><a href="#">What is this lump on my penis?</a>
    </li>
    <li><a href="#">What should I do if my erection won’t go down?</a>
    </li>
    <li><a href="#">What should I do if my penis is torn?</a>
    </li>
    <li><a href="#">What should my testicles look and feel like?</a>
    </li>
    <li><a href="#">Why can’t I get and keep an erection?</a>
    </li>
    <li><a href="#">Why is my penis smelly and sore?</a>
    </li>
    <li><a href="#">Why should I avoid sexual activity before a PSA test?</a>
    </li>
    </ul>
  </li>
  <li><a href="#">NHS services and treatments</a>
    <ul class="level-3">
    <li><a href="#">Can I access someone else's medical records (health records)?</a>
    </li>
    <li><a href="#">Can I access the medical records (health records) of someone who has died?</a>
    </li>
    <li><a href="#">Can I choose to see a male or female GP?</a>
    </li>
    <li><a href="#">Can I choose where to receive treatment?</a>
    </li>
    <li><a href="#">Can I demand a specific treatment?</a>
    </li>
    <li><a href="#">Can I get a mole removed on the NHS?</a>
    </li>
    <li><a href="#">Can I get free liposuction on the NHS?</a>
    </li>
    <li><a href="#">Can I get incontinence products on the NHS?</a>
    </li>
    <li><a href="#">Can I get laser eye surgery on the NHS?</a>
    </li>
    <li><a href="#">Can I get my glasses repaired or replaced on the NHS?</a>
    </li>
    <li><a href="#">Do I have the right to refuse treatment?</a>
    </li>
    <li><a href="#">Do I need a GP referral for private treatment?</a>
    </li>
    <li><a href="#">Does colonic irrigation have any health benefits and is it available on the NHS?</a>
    </li>
    <li><a href="#">How can I see a GP if I'm away from home?</a>
    </li>
    <li><a href="#">How do I change my GP?</a>
    </li>
    <li><a href="#">How do I get a second opinion?</a>
    </li>
    <li><a href="#">How do I organise transport to and from hospital?</a>
    </li>
    <li><a href="#">How do I register as a temporary resident with a GP?</a>
    </li>
    <li><a href="#">How long will I have to wait to see a consultant?</a>
    </li>
    <li><a href="#">How much is the NHS prescription charge?</a>
    </li>
    <li><a href="#">How often can I have a free NHS eye test?</a>
    </li>
    <li><a href="#">How quickly can I see a GP?</a>
    </li>
    <li><a href="#">If I pay for private treatment, how will my NHS care be affected?</a>
    </li>
    <li><a href="#">What if my NHS surgery or operation is cancelled at the last minute?</a>
    </li>
    <li><a href="#">What is PALS (Patient Advice and Liaison Service)?</a>
    </li>
    <li><a href="#">What should I do if my GP removes me from their list?</a>
    </li>
    <li><a href="#">When do I have to pay for NHS treatment?</a>
    </li>
    <li><a href="#">Which vaccinations are free?</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Operations, tests and procedures</a>
    <ul class="level-3">
    <li><a href="#">Can I eat and drink before having a blood test?</a>
    </li>
    <li><a href="#">Can I eat or drink before an operation?</a>
    </li>
    <li><a href="#">Can I use my mobile phone in an NHS hospital?</a>
    </li>
    <li><a href="#">Do I need to change my diet after gallbladder surgery?</a>
    </li>
    <li><a href="#">How can I find out my blood type (blood group)?</a>
    </li>
    <li><a href="#">How long should I wear compression stockings after surgery?</a>
    </li>
    <li><a href="#">How soon can I go swimming after surgery?</a>
    </li>
    <li><a href="#">Is it better to have a bath or shower after surgery?</a>
    </li>
    <li><a href="#">Should I stop taking antiplatelet medicines such as aspirin before minor surgery?</a>
    </li>
    <li><a href="#">What do cancer stages and grades mean?</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Pregnancy</a>
    <ul class="level-3">
    <li><a href="#">Am I pregnant?</a>
    </li>
    <li><a href="#">Are complementary therapies safe during pregnancy?</a>
    </li>
    <li><a href="#">Are hard cheeses safe to eat during pregnancy?</a>
    </li>
    <li><a href="#">Are pregnant women entitled to free NHS dental treatment?</a>
    </li>
    <li><a href="#">Are pregnant women entitled to free NHS prescriptions?</a>
    </li>
    <li><a href="#">Are sunbeds safe to use during pregnancy?</a>
    </li>
    <li><a href="#">Can HIV be passed to an unborn baby in pregnancy or through breastfeeding?</a>
    </li>
    <li><a href="#">Can I eat cooked brie and blue cheese during pregnancy?</a>
    </li>
    <li><a href="#">Can I eat shellfish during pregnancy?</a>
    </li>
    <li><a href="#">Can I eat soya products during pregnancy?</a>
    </li>
    <li><a href="#">Can I find out the sex of my baby?</a>
    </li>
    <li><a href="#">Can I get pregnant if I have sex without penetration?</a>
    </li>
    <li><a href="#">Can I get pregnant just after my period has finished?</a>
    </li>
    <li><a href="#">Can I have a cervical screening test during pregnancy?</a>
    </li>
    <li><a href="#">Can I have an X-ray if I'm pregnant?</a>
    </li>
    <li><a href="#">Can I have travel vaccinations during pregnancy?</a>
    </li>
    <li><a href="#">Can I have vaccinations if I'm pregnant?</a>
    </li>
    <li><a href="#">Can I take anti-malaria medication if I'm pregnant?</a>
    </li>
    <li><a href="#">Can I take cod liver oil supplements when I'm pregnant?</a>
    </li>
    <li><a href="#">Can I take hay fever medicine during pregnancy?</a>
    </li>
    <li><a href="#">Can I take ibuprofen when I'm pregnant?</a>
    </li>
    <li><a href="#">Can I take paracetamol when I'm pregnant?</a>
    </li>
    <li><a href="#">Can paint fumes affect my unborn baby?</a>
    </li>
    <li><a href="#">Can thrush harm my baby during pregnancy?</a>
    </li>
    <li><a href="#">Do twins run in families?</a>
    </li>
    <li><a href="#">How accurate are home pregnancy tests?</a>
    </li>
    <li><a href="#">How can I avoid food poisoning during pregnancy?</a>
    </li>
    <li><a href="#">How can I increase my chances of getting pregnant?</a>
    </li>
    <li><a href="#">How long does it usually take to get pregnant?</a>
    </li>
    <li><a href="#">How much weight will I put on during my pregnancy?</a>
    </li>
    <li><a href="#">How soon can I do a pregnancy test?</a>
    </li>
    <li><a href="#">How soon can I use tampons after giving birth?</a>
    </li>
    <li><a href="#">Is it safe to breastfeed if I have diarrhoea and vomiting?</a>
    </li>
    <li><a href="#">Is it safe to eat goats' cheese during pregnancy?</a>
    </li>
    <li><a href="#">Is it safe to eat sushi during pregnancy?</a>
    </li>
    <li><a href="#">Is it safe to fly while pregnant?</a>
    </li>
    <li><a href="#">Is it safe to use a sauna or jacuzzi if I'm pregnant?</a>
    </li>
    <li><a href="#">Is it safe to use fake tan during pregnancy?</a>
    </li>
    <li><a href="#">Is it safe to use hair dye when I'm pregnant or breastfeeding?</a>
    </li>
    <li><a href="#">Should I limit caffeine during pregnancy?</a>
    </li>
    <li><a href="#">Should pregnant and breastfeeding women avoid some types of fish?</a>
    </li>
    <li><a href="#">What are the risks of MRSA during pregnancy?</a>
    </li>
    <li><a href="#">What are the risks of chickenpox during pregnancy?</a>
    </li>
    <li><a href="#">What are the risks of group B streptococcus (GBS) infection during pregnancy?</a>
    </li>
    <li><a href="#">What are the risks of scarlet fever during pregnancy?</a>
    </li>
    <li><a href="#">What are the risks of shingles during pregnancy?</a>
    </li>
    <li><a href="#">What are the risks of slapped cheek syndrome during pregnancy?</a>
    </li>
    <li><a href="#">What are the risks of toxoplasmosis during pregnancy?</a>
    </li>
    <li><a href="#">What if I'm pregnant and I haven't had chickenpox?</a>
    </li>
    <li><a href="#">What is preconception care?</a>
    </li>
    <li><a href="#">What is the amniotic sac?</a>
    </li>
    <li><a href="#">What is the placenta?</a>
    </li>
    <li><a href="#">What is the umbilical cord?</a>
    </li>
    <li><a href="#">What should I do if I'm pregnant and I've been near someone with chickenpox?</a>
    </li>
    <li><a href="#">When am I most fertile during my cycle?</a>
    </li>
    <li><a href="#">When will my periods return after a miscarriage?</a>
    </li>
    <li><a href="#">Why are pregnant women at higher risk of flu complications?</a>
    </li>
    <li><a href="#">Why can't I eat soft cheeses during pregnancy?</a>
    </li>
    <li><a href="#">Why do I need folic acid in pregnancy?</a>
    </li>
    <li><a href="#">Why should pregnant women avoid sheep during the lambing season?</a>
    </li>
    <li><a href="#">Why shouldn't I change cat litter during pregnancy?</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Sexual health</a>
    <ul class="level-3">
    <li><a href="#">Am I masturbating too much and can it be bad for me?</a>
    </li>
    <li><a href="#">Are sex toys safe?</a>
    </li>
    <li><a href="#">Can HIV be transmitted through oral sex (fellatio and cunnilingus)?</a>
    </li>
    <li><a href="#">Can a man catch thrush from a female partner?</a>
    </li>
    <li><a href="#">Can premature ejaculation be controlled?</a>
    </li>
    <li><a href="#">Can you become addicted to sex?</a>
    </li>
    <li><a href="#">Can you catch HIV from kissing?</a>
    </li>
    <li><a href="#">Can you have sex during a period?</a>
    </li>
    <li><a href="#">Do condoms always prevent HIV transmission?</a>
    </li>
    <li><a href="#">Does a woman always bleed when she has sex for the first time?</a>
    </li>
    <li><a href="#">Does anal sex have any health risks?</a>
    </li>
    <li><a href="#">How soon do STI symptoms appear?</a>
    </li>
    <li><a href="#">Is chlamydia only caught through sexual contact?</a>
    </li>
    <li><a href="#">Is it necessary to have an orgasm to enjoy sex?</a>
    </li>
    <li><a href="#">Is masturbation normal?</a>
    </li>
    <li><a href="#">Is sex painful the first time?</a>
    </li>
    <li><a href="#">Should trans men have cervical screening tests?</a>
    </li>
    <li><a href="#">What can cause orgasm problems in men?</a>
    </li>
    <li><a href="#">What can cause orgasm problems in women?</a>
    </li>
    <li><a href="#">What does a sex therapist do?</a>
    </li>
    <li><a href="#">What infections can I catch through oral sex?</a>
    </li>
    <li><a href="#">What is an orgasm?</a>
    </li>
    <li><a href="#">What is oral sex?</a>
    </li>
    <li><a href="#">What is the life expectancy for someone with HIV?</a>
    </li>
    <li><a href="#">What services do sexual health clinics (GUM clinics) provide?</a>
    </li>
    <li><a href="#">What should I do if I think I've got an STI?</a>
    </li>
    <li><a href="#">What's the difference between HPV and HIV?</a>
    </li>
    <li><a href="#">When is it safe to have sex after an abortion?</a>
    </li>
    <li><a href="#">Why does sex hurt?</a>
    </li>
    <li><a href="#">Will I be tested for chlamydia during my smear test?</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Travel health</a>
    <ul class="level-3">
    <li><a href="#">Can I travel on a plane if I have a plaster cast?</a>
    </li>
    <li><a href="#">How can I delay my period?</a>
    </li>
    <li><a href="#">How to get an EHIC (European Health Insurance Card)</a>
    </li>
    <li><a href="#">Is it safe to fly with a perforated eardrum?</a>
    </li>
    <li><a href="#">Replacing a lost or stolen EHIC</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Women's health</a>
    <ul class="level-3">
    <li><a href="#">Can a tampon get lost inside me?</a>
    </li>
    <li><a href="#">Can having an abortion affect my fertility?</a>
    </li>
    <li><a href="#">Do I need a cervical screening test if I'm a virgin?</a>
    </li>
    <li><a href="#">How can I tell when I'm ovulating?</a>
    </li>
    <li><a href="#">How should I check my breasts?</a>
    </li>
    <li><a href="#">What are pelvic floor exercises?</a>
    </li>
    <li><a href="#">What causes a woman to bleed after sex?</a>
    </li>
    <li><a href="#">What causes bleeding between periods?</a>
    </li>
    <li><a href="#">What if I forget to remove my tampon?</a>
    </li>
    <li><a href="#">What is a well woman clinic?</a>
    </li>
    </ul>
  </li>
  </ul>
</li>
<li><a href="#">﻿Common Health Questions (CHQs)</a>
  <ul class="level-2">
  <li><a href="#">Accidents and first aid</a>
    <ul class="level-3">
    <li><a href="#">Can a broken thermometer or lightbulb cause mercury poisoning?</a>
    </li>
    </ul>
  </li>
  </ul>
</li>
</ul>




</div>
{% endblock content %}
