{% extends "layout.njk" %}
{% set title = 'General Site Content' %}
{% set body_class = 'home' %}
{% set stylesheet = 'styles-new.css' %}


{% block content %}
<div class="tree">

<h1>{{ title }}</h1>


<ul class="level-1">
<li><a href="#">General site content</a>
  <ul class="level-2">
  <li><a href="#">About us</a>
    <ul class="level-3">
    <li><a href="#">About the NHS website</a>
    </li>
    <li><a href="#">About us - newsletter</a>
    </li>
    <li><a href="#">Manage provider profiles</a>
    </li>
    <li><a href="#">Manage user comments</a>
    </li>
    <li><a href="#">NHS website datasets</a>
    </li>
    <li><a href="#">Newsletter – sign-up confirmation</a>
    </li>
    <li><a href="#">Patient Opinion</a>
    </li>
    <li><a href="#">Sitemap</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Accessibility</a>
    <ul class="level-3">
    <li><a href="#">About accessibility</a>
    </li>
    <li><a href="#">Health information in other languages</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Authorities and Trusts</a>
    <ul class="level-3">
    <li><a href="#">Areas teams</a>
    </li>
    <li><a href="#">Clinical commissioning groups</a>
    </li>
    <li><a href="#">NHS trusts</a>
    </li>
    <li><a href="#">Other</a>
    </li>
    <li><a href="#">Special health authorities</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Contact us</a>
    <ul class="level-3">
    <li><a href="#">Book, cancel or change an appointment</a>
    </li>
    <li><a href="#">Contact us about managing an organisation's profile on the NHS website</a>
    </li>
    <li><a href="#">Contact us about the NHS website</a>
    </li>
    <li><a href="#">Contacts for professionals</a>
    </li>
    <li><a href="#">Find contact details for GPs, hospitals and other services</a>
    </li>
    <li><a href="#">Get help with something else</a>
    </li>
    <li><a href="#">Get medical help</a>
    </li>
    <li><a href="#">Give feedback or make a complaint</a>
    </li>
    <li><a href="#">Help improve the website</a>
    </li>
    <li><a href="#">Help updating your organisation profile (PIMS)</a>
    </li>
    <li><a href="#">Make a freedom of information (FOI) request</a>
    </li>
    <li><a href="#">Make a press enquiry</a>
    </li>
    <li><a href="#">Report a problem with information about an NHS service on this website</a>
    </li>
    <li><a href="#">Syndicate NHS content</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Current Alerts and Emergencies</a>
  </li>
  <li><a href="#">Find and choose Hospitals - OLD</a>
  </li>
  <li><a href="#">Find services - landing page</a>
  </li>
  <li><a href="#">Hospitals</a>
    <ul class="level-3">
    <li><a href="#">Maudsley Hospital</a>
    </li>
    <li><a href="#">West Cornwall Hospital (Penzance)</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Log in to the NHS website profile editor</a>
  </li>
  <li><a href="#">Online clinics</a>
  </li>
  <li><a href="#">Our policies</a>
    <ul class="level-3">
    <li><a href="#">Behind the Headlines policy and process</a>
    </li>
    <li><a href="#">Comments policy</a>
    </li>
    <li><a href="#">Content policy</a>
    </li>
    <li><a href="#">Cookies on the NHS website</a>
    </li>
    <li><a href="#">Details about the cookies we use</a>
    </li>
    <li><a href="#">Governance of the NHS website</a>
    </li>
    <li><a href="#">Linking from the NHS website</a>
    </li>
    <li><a href="#">Requests for research support</a>
    </li>
    <li><a href="#">Terms and conditions</a>
    </li>
    <li><a href="#">The Information Standard</a>
    </li>
    <li><a href="#">Your privacy on the NHS website</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Scorecard</a>
    <ul class="level-3">
    <li><a href="#">About the care home facts you can see on NHS Choices</a>
    </li>
    <li><a href="#">About the indicator facts you can see on NHS website</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Trusts</a>
    <ul class="level-3">
    <li><a href="#">Central and North West London NHS Foundation Trust</a>
    </li>
    <li><a href="#">Lancashire Care NHS Foundation Trust</a>
    </li>
    <li><a href="#">North Bristol NHS Trust</a>
    </li>
    <li><a href="#">Salford Royal NHS Foundation Trust</a>
    </li>
    <li><a href="#">Sheffield Health and Social Care NHS Foundation Trust</a>
    </li>
    <li><a href="#">West London NHS Trust</a>
    </li>
    <li><a href="#">Worcestershire Health and Care NHS Trust</a>
    </li>
    </ul>
  </li>
  </ul>
</li>
<li><a href="#">﻿General site content</a>
  <ul class="level-2">
  <li><a href="#">NHS sites</a>
  </li>
  </ul>
</li>
</ul>




</div>
{% endblock content %}
