{% extends "layout.njk" %}
{% set title = 'Cosmetic procedures' %}
{% set body_class = 'home' %}
{% set stylesheet = 'styles-new.css' %}


{% block content %}
<div class="tree">

<h1>{{ title }}</h1>


<ul class="level-1">
<li><a href="#">Guide - cosmetic procedures</a>
  <ul class="level-2">
  <li><a href="#">Cosmetic surgery</a>
    <ul class="level-3">
    <li><a href="#">Breast enlargement (implants)</a>
    </li>
    <li><a href="#">Breast reduction (male)</a>
    </li>
    <li><a href="#">Cosmetic breast reduction (female)</a>
    </li>
    <li><a href="#">Ear correction surgery</a>
    </li>
    <li><a href="#">Eyelid surgery</a>
    </li>
    <li><a href="#">Facelift (rhytidectomy)</a>
    </li>
    <li><a href="#">Hair transplant</a>
    </li>
    <li><a href="#">Labiaplasty (vulval surgery)</a>
    </li>
    <li><a href="#">Liposuction</a>
    </li>
    <li><a href="#">Nose reshaping (rhinoplasty)</a>
    </li>
    <li><a href="#">Surgical fat transfer</a>
    </li>
    <li><a href="#">Tummy tuck (abdominoplasty)</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Making the decision</a>
    <ul class="level-3">
    <li><a href="#">Before you have a cosmetic procedures</a>
    </li>
    <li><a href="#">Choosing who will do your cosmetic procedure</a>
    </li>
    <li><a href="#">Cosmetic surgery abroad</a>
    </li>
    <li><a href="#">Is cosmetic surgery available on the NHS?</a>
    </li>
    <li><a href="#">Is cosmetic surgery right for me?</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Non surgical procedures</a>
    <ul class="level-3">
    <li><a href="#">Chemical peels</a>
    </li>
    <li><a href="#">Dermal fillers</a>
    </li>
    <li><a href="#">Laser hair removal</a>
    </li>
    <li><a href="#">Microdermabrasion</a>
    </li>
    <li><a href="#">Permanent make-up</a>
    </li>
    <li><a href="#">Skin lightening</a>
    </li>
    <li><a href="#">Tattoo removal</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Non-surgical procedures</a>
    <ul class="level-3">
    <li><a href="#">Botox injections</a>
    </li>
    </ul>
  </li>
  </ul>
</li>
<li><a href="#">﻿Guide - cosmetic procedures</a>
  <ul class="level-2">
  <li><a href="#">Before you have a cosmetic procedures</a>
  </li>
  </ul>
</li>
</ul>




</div>
{% endblock content %}
