{% extends "layout.njk" %}
{% set title = 'All Guides' %}
{% set body_class = 'home' %}
{% set stylesheet = 'styles-new.css' %}


{% block content %}
<div class="tree">

<h1>{{ title }}</h1>

  <ul class="level-1">
  <li><a href="#">Dementia guide</a>
    <ul class="level-2">
    <li><a href="#">About dementia</a>
    </li>
    <li><a href="#">Care and support</a>
    </li>
    <li><a href="#">Living with dementia</a>
    </li>
    <li><a href="#">Symptoms and diagnosis</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Guide - Health check</a>
  </li>
  <li><a href="#">Guide - contraception</a>
    <ul class="level-2">
    <li><a href="#">Getting started</a>
      <ul class="level-3">
      <li><a href="#">Where can I get contraception?</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Getting started/Methods of contraception</a>
      <ul class="level-3">
      <li><a href="#">Female condoms</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Methods of contraception</a>
      <ul class="level-3">
      <li><a href="#">Combined pill</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Questions about the pill</a>
      <ul class="level-3">
      <li><a href="#">Being on the pill</a>
        <ul class="level-4">
        <li><a href="#">What if I'm on the pill and I'm sick or have diarrhoea?</a>
        </li>
        <li><a href="#">What medicines affect my contraception?</a>
        </li>
        <li><a href="#">Will a pregnancy test work if I'm on the pill?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Missed pills and extra pills</a>
        <ul class="level-4">
        <li><a href="#">What if I've lost a contraceptive pill?</a>
        </li>
        <li><a href="#">What if I've taken an extra pill?</a>
        </li>
        <li><a href="#">What should I do if I miss a pill (combined pill)?</a>
        </li>
        <li><a href="#">What should I do if I miss a pill (progestogen only pill)?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Periods and the pill</a>
        <ul class="level-4">
        <li><a href="#">How do I know if I've reached menopause if I'm on the pill?</a>
        </li>
        <li><a href="#">When will my periods return after stopping?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">The pill for men</a>
        <ul class="level-4">
        <li><a href="#">What is the male pill?</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Which is best for me?</a>
      <ul class="level-3">
      <li><a href="#">Things to consider</a>
        <ul class="level-4">
        <li><a href="#">Which method of contraception suits me?</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Which is best for me?/Worries and questions</a>
      <ul class="level-3">
      <li><a href="#">Things for consider</a>
        <ul class="level-4">
        <li><a href="#">How effective is contraception at preventing pregnancy?</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Worries and questions</a>
      <ul class="level-3">
      <li><a href="#">Contraception after a baby</a>
        <ul class="level-4">
        <li><a href="#">When can I use contraception after having a baby?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">I've had unprotected sex</a>
        <ul class="level-4">
        <li><a href="#">Where can I get emergency contraception?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Using contraception effectively</a>
        <ul class="level-4">
        <li><a href="#">What is my partner won't use a condom?</a>
        </li>
        <li><a href="#">Will antibiotics stop my contraception working?</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    </ul>
  </li>
  <li><a href="#">Guide - cosmetic procedures</a>
    <ul class="level-2">
    <li><a href="#">Before you have a cosmetic procedures</a>
    </li>
    <li><a href="#">Non-surgical procedures</a>
      <ul class="level-3">
      <li><a href="#">Botox injections</a>
      </li>
      </ul>
    </li>
    </ul>
  </li>
  <li><a href="#">Guide - end of life</a>
    <ul class="level-2">
    <li><a href="#">Planning ahead</a>
    </li>
    <li><a href="#">What is end of life care?</a>
    </li>
    <li><a href="#">Your wellbeing</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Guide - fitness studio</a>
    <ul class="level-2">
    <li><a href="#">Aerobic exercise</a>
    </li>
    <li><a href="#">Pilates and yoga</a>
    </li>
    <li><a href="#">Strength and resistance</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Guide - mood zone</a>
    <ul class="level-2">
    <li><a href="#">Common problems</a>
      <ul class="level-3">
      <li><a href="#">Are you having panic attacks?</a>
      </li>
      <li><a href="#">Depression in children and teenagers</a>
      </li>
      <li><a href="#">Do you have the winter blues?</a>
      </li>
      <li><a href="#">How to deal with stress</a>
      </li>
      <li><a href="#">How to help someone with depression</a>
      </li>
      <li><a href="#">Mood self-assessment quiz</a>
      </li>
      <li><a href="#">Why am I so angry?</a>
      </li>
      <li><a href="#">Why do I feel anxious and panicky?</a>
        <ul class="level-4">
        <li><a href="#">Why do I feel anxious and panicky?</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Real lives</a>
      <ul class="level-3">
      <li><a href="#">How I've learnt to deal with stress</a>
      </li>
      <li><a href="#">I burned out from work stress</a>
      </li>
      <li><a href="#">I used to hit my husband</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Real stories</a>
      <ul class="level-3">
      <li><a href="#">I run to boost my mood</a>
      </li>
      </ul>
    </li>
    <li><a href="#">What you can do now</a>
      <ul class="level-3">
      <li><a href="#">5 steps to mental wellbeing</a>
        <ul class="level-4">
        <li><a href="#">5 steps to mental wellbeing</a>
        </li>
        <li><a href="#">Connect for mental wellbeing</a>
        </li>
        <li><a href="#">Get active for mental wellbeing</a>
        </li>
        <li><a href="#">Give for mental wellbeing</a>
        </li>
        <li><a href="#">Learn for mental wellbeing</a>
        </li>
        <li><a href="#">Mindfulness</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Anger management</a>
        <ul class="level-4">
        <li><a href="#">Dealing with child anger</a>
        </li>
        <li><a href="#">How to control your anger</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Bereavement and loss</a>
        <ul class="level-4">
        <li><a href="#">Bereavement and young people</a>
        </li>
        <li><a href="#">Children and bereavement</a>
        </li>
        <li><a href="#">Coping with bereavement</a>
        </li>
        <li><a href="#">Dealing with grief and loss</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Fear and phobias</a>
        <ul class="level-4">
        <li><a href="#">10 ways to fight your fears</a>
        </li>
        <li><a href="#">Anxiety in children</a>
        </li>
        <li><a href="#">How to deal with panic attacks</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Feeling lonely</a>
        <ul class="level-4">
        <li><a href="#">Loneliness in older people</a>
        </li>
        <li><a href="#">Loneliness in the elderly: how to help</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Low mood and depression</a>
        <ul class="level-4">
        <li><a href="#">Beating the winter blues</a>
        </li>
        <li><a href="#">Exercise for depression</a>
        </li>
        <li><a href="#">Going to work after mental health issues</a>
        </li>
        <li><a href="#">How to be happier</a>
        </li>
        <li><a href="#">Low mood and depression</a>
        </li>
        <li><a href="#">Mental health issues if you're gay, lesbian or bisexual</a>
        </li>
        <li><a href="#">Raising low self esteem</a>
        </li>
        <li><a href="#">Student mental health</a>
        </li>
        <li><a href="#">Tips for coping with depression</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Stress</a>
        <ul class="level-4">
        <li><a href="#">10 stress busters</a>
        </li>
        <li><a href="#">Breathing exercise for stress</a>
        </li>
        <li><a href="#">Bullying at work</a>
        </li>
        <li><a href="#">Easy time-management tips</a>
        </li>
        <li><a href="#">Help your child beat exam stress</a>
        </li>
        <li><a href="#">How to cope with money worries</a>
        </li>
        <li><a href="#">Student stress: self-help tips</a>
        </li>
        <li><a href="#">Tips on surviving exams</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Supporting a child</a>
        <ul class="level-4">
        <li><a href="#">Coping with your teenager</a>
        </li>
        <li><a href="#">Talking to children about feelings</a>
        </li>
        <li><a href="#">Talking to your teenager</a>
        </li>
        <li><a href="#">Teen aggression and arguments</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Supporting a child?</a>
        <ul class="level-4">
        <li><a href="#">Worried about your teenager?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Therapy and counselling</a>
        <ul class="level-4">
        <li><a href="#">Benefits of talking therapy</a>
        </li>
        <li><a href="#">Can I get free therapy or counselling?</a>
        </li>
        <li><a href="#">Depression support groups</a>
        </li>
        <li><a href="#">Mental health helplines</a>
        </li>
        <li><a href="#">Self-help therapies</a>
        </li>
        <li><a href="#">Types of talking therapies</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">What you can do now/Mental wellbeing audio guides</a>
      <ul class="level-3">
      <li><a href="#">Audio guides to boost your mood</a>
      </li>
      </ul>
    </li>
    </ul>
  </li>
  <li><a href="#">Guide - pregnancy and baby</a>
    <ul class="level-2">
    <li><a href="#">??? (see notes)</a>
      <ul class="level-3">
      <li><a href="#">??? (see notes)</a>
        <ul class="level-4">
        <li><a href="#">Coping with stillbirth</a>
        </li>
        <li><a href="#">Deep vein thrombosis (DVT) in pregnancy</a>
        </li>
        <li><a href="#">Domestic abuse in pregnancy</a>
        </li>
        <li><a href="#">Having a baby that might be born with a condition</a>
        </li>
        <li><a href="#">High blood pressure (hypertension) in pregnancy</a>
        </li>
        <li><a href="#">How to help a choking child</a>
        </li>
        <li><a href="#">If your child has to go to hospital</a>
        </li>
        <li><a href="#">Newborn blood spot cards explained</a>
        </li>
        <li><a href="#">Newborn blood spot screening FAQs</a>
        </li>
        <li><a href="#">Relationships after having a baby</a>
        </li>
        <li><a href="#">Your first midwife appointment</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Common pregnancy ailments</a>
        <ul class="level-4">
        <li><a href="#">Headaches in pregnancy</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Babies and toddlers</a>
      <ul class="level-3">
      <li><a href="#">Baby health and care</a>
        <ul class="level-4">
        <li><a href="#">Constipation in young children</a>
        </li>
        <li><a href="#">Coughs, colds and ear infections in children</a>
        </li>
        <li><a href="#">Does your child have a serious illness?</a>
        </li>
        <li><a href="#">How to take your baby's temperature</a>
        </li>
        <li><a href="#">Infectious illnesses in children</a>
        </li>
        <li><a href="#">Leg and foot problems in children</a>
        </li>
        <li><a href="#">Looking after a sick child</a>
        </li>
        <li><a href="#">Looking after your baby's teeth</a>
        </li>
        <li><a href="#">Medicines for babies and children</a>
        </li>
        <li><a href="#">Reduce the risk of sudden infant death syndrome</a>
        </li>
        <li><a href="#">Sleep problems in young children</a>
        </li>
        <li><a href="#">Treating a fever (high temperature) in children</a>
        </li>
        <li><a href="#">Your baby's health and development reviews</a>
        </li>
        <li><a href="#">Your baby's weight and height</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Learning, play and bahaviour</a>
        <ul class="level-4">
        <li><a href="#">How to potty train</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Learning, play and behaviour</a>
        <ul class="level-4">
        <li><a href="#">Baby and toddler play ideas</a>
        </li>
        <li><a href="#">Bedwetting in young children</a>
        </li>
        <li><a href="#">Dealing with child bahaviour problems</a>
        </li>
        <li><a href="#">Help you baby learn to talk</a>
        </li>
        <li><a href="#">How to keep your baby or toddler active</a>
        </li>
        <li><a href="#">Potty training problems</a>
        </li>
        <li><a href="#">Separation anxiety</a>
        </li>
        <li><a href="#">Teaching your child everyday skills</a>
        </li>
        <li><a href="#">Temper tantrums</a>
        </li>
        <li><a href="#">Why play is important</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Parenting</a>
        <ul class="level-4">
        <li><a href="#">Advice for single parents</a>
        </li>
        <li><a href="#">Introducing your toddler to a new baby</a>
        </li>
        <li><a href="#">Planning another pregnancy</a>
        </li>
        <li><a href="#">Services and support for parents</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Safety and accidents</a>
        <ul class="level-4">
        <li><a href="#">Baby and toddler safety</a>
        </li>
        <li><a href="#">How to resuscitate a child</a>
        </li>
        <li><a href="#">Sun safety for children</a>
        </li>
        <li><a href="#">What to do if your child has an accident</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Teething</a>
        <ul class="level-4">
        <li><a href="#">Baby teething symptoms</a>
        </li>
        <li><a href="#">Tips for helping your teething baby</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Twins</a>
        <ul class="level-4">
        <li><a href="#">Twins and language</a>
        </li>
        <li><a href="#">Twins at school</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Weaning and solid foods</a>
        <ul class="level-4">
        <li><a href="#">Baby and toddler meal ideas</a>
        </li>
        <li><a href="#">Children's food: safety and hygiene</a>
        </li>
        <li><a href="#">Drinks and cups for babies and young children</a>
        </li>
        <li><a href="#">Food allergies in babies and young children</a>
        </li>
        <li><a href="#">Foods to avoid giving babies and young children</a>
        </li>
        <li><a href="#">Fussy eaters</a>
        </li>
        <li><a href="#">Help your baby enjoy new foods</a>
        </li>
        <li><a href="#">Vegetarian and vegan babies and children</a>
        </li>
        <li><a href="#">Vitamins for children</a>
        </li>
        <li><a href="#">What to feed young children</a>
        </li>
        <li><a href="#">Young children and food: common questions</a>
        </li>
        <li><a href="#">Your baby's first solid foods</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Babies and toddlers/Your newborn</a>
      <ul class="level-3">
      <li><a href="#">Safety and accidents/Newborn essentials</a>
        <ul class="level-4">
        <li><a href="#">Choosing a baby car seat</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Getting pregnant</a>
      <ul class="level-3">
      <li><a href="#">Am I pregnant?</a>
        <ul class="level-4">
        <li><a href="#">Doing a pregnancy test</a>
        </li>
        <li><a href="#">Finding out you're pregnant</a>
        </li>
        <li><a href="#">Trying to get pregnant</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Secrets to success</a>
        <ul class="level-4">
        <li><a href="#">Drinking alcohol while pregnant</a>
        </li>
        <li><a href="#">Exercise in pregnancy</a>
        </li>
        <li><a href="#">Healthy diet</a>
        </li>
        <li><a href="#">Overweight and pregnant</a>
        </li>
        <li><a href="#">Planning your pregnancy</a>
        </li>
        <li><a href="#">Vitamins, supplements and nurition in pregnancy</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Getting pregnant/I'm pregnant</a>
      <ul class="level-3">
      <li><a href="#">Am I pregnant?/Early days</a>
        <ul class="level-4">
        <li><a href="#">Signs and symptoms of pregnancy</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Secrets to success/Your health and wellbeing</a>
        <ul class="level-4">
        <li><a href="#">Foods to avoid in pregnancy</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">I'm pregnant</a>
      <ul class="level-3">
      <li><a href="#">Common pregnancy ailments</a>
        <ul class="level-4">
        <li><a href="#">Backache</a>
        </li>
        <li><a href="#">Common health problems in pregnancy</a>
          <ul class="level-5">
          <li><a href="#">Leaking from your nipples</a>
          </li>
          <li><a href="#">Nosebleeds in pregnancy</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Indigestion and heartburn in pregnancy</a>
        </li>
        <li><a href="#">Pelvic pain in pregnancy</a>
        </li>
        <li><a href="#">Piles in pregnancy</a>
        </li>
        <li><a href="#">Stomach pain in pregnancy</a>
        </li>
        <li><a href="#">Stretch marks in pregnancy</a>
        </li>
        <li><a href="#">Swollen ankles, feet and fingers in pregnancy</a>
        </li>
        <li><a href="#">Teeth and gums in pregnancy</a>
        </li>
        <li><a href="#">Tiredness in pregnancy</a>
        </li>
        <li><a href="#">Vaginal bleeding in pregnancy</a>
        </li>
        <li><a href="#">Vaginal discharge in pregnancy</a>
        </li>
        <li><a href="#">Vomiting and morning sickness in pregnancy</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Early days</a>
        <ul class="level-4">
        <li><a href="#">Due date calculator</a>
        </li>
        <li><a href="#">Health things you should know</a>
        </li>
        <li><a href="#">Your NHS pregnancy journey</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Existing health problems</a>
        <ul class="level-4">
        <li><a href="#">Asthma and pregnancy</a>
        </li>
        <li><a href="#">Congenital heart disease in pregnancy</a>
        </li>
        <li><a href="#">Coronary heart disease and pregnancy</a>
        </li>
        <li><a href="#">Diabetes and pregnancy</a>
        </li>
        <li><a href="#">Epilepsy and pregnancy</a>
        </li>
        <li><a href="#">Mental health problems and pregnancy</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Pregnancy-induced conditions</a>
        <ul class="level-4">
        <li><a href="#">Itching and intrahepatic cholestasis of pregnancy</a>
        </li>
        <li><a href="#">Pregnancy made me vomit 30 times a day</a>
        </li>
        <li><a href="#">Severe vomiting in pregnancy</a>
        </li>
        <li><a href="#">knew my wife's pregnancy vomiting wasn't normal</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Preparing for the birth</a>
        <ul class="level-4">
        <li><a href="#">Antenatal classes</a>
        </li>
        <li><a href="#">How to make a birth plan</a>
        </li>
        <li><a href="#">Pack your bag for labour</a>
        </li>
        <li><a href="#">Where to give birth: the options</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Tests scans and checks</a>
        <ul class="level-4">
        <li><a href="#">12 week pregnancy dating scan</a>
        </li>
        <li><a href="#">Antenatal checks and tests</a>
        </li>
        <li><a href="#">Antenatal checks and tests (inline link)</a>
          <ul class="level-5">
          <li><a href="#">Screening for hepatitis B, HIV and syphilis</a>
          </li>
          <li><a href="#">Screening for sickle cell and thalassaemia</a>
          </li>
          </ul>
        </li>
        <li><a href="#">If antental screening tests find something</a>
        </li>
        <li><a href="#">Screening for Down's, Edwards' and Patau's syndromes</a>
        </li>
        <li><a href="#">Screening tests in pregnancy</a>
        </li>
        <li><a href="#">Ultrsound scans in pregnancy</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Twins</a>
        <ul class="level-4">
        <li><a href="#">Antenatal care with twins</a>
        </li>
        <li><a href="#">Getting ready for twins</a>
        </li>
        <li><a href="#">Pregnant with twins</a>
        </li>
        <li><a href="#">Your healthy twin pregnancy</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Vaccinations</a>
        <ul class="level-4">
        <li><a href="#">Can I have vaccinations when I'm pregnant?</a>
        </li>
        <li><a href="#">The flu jab in pregnancy</a>
        </li>
        <li><a href="#">Whooping cough vaccine in pregnancy</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Week by week</a>
        <ul class="level-4">
        <li><a href="#">13 to 16 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 13 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 14 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 15 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 16 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">17 to 20 weeks</a>
          <ul class="level-5">
          <li><a href="#">20 week scan</a>
          </li>
          <li><a href="#">You and you baby at 17 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 18 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 19 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 20 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">21 to 24 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 21 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 22 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 23 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 24 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">25 to 28 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 25 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 26 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 27 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 28 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">29 to 32 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 29 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 30 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 31 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 32 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">33 to 36 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 33 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 34 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 35 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 36 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">37 to 40 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 37 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 38 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 39 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 40 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">4 to 8 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 4 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 5 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 6 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 7 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 8 weeks pregnant</a>
          </li>
          <li><a href="#">You and your pregnancy at 1 to 3 weeks</a>
          </li>
          </ul>
        </li>
        <li><a href="#">9 to 12 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 10 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 11 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 12 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 9 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Pregnancy weeks 40 plus</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 41 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 42 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Your pregnancy week by week</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Your health and wellbeing</a>
        <ul class="level-4">
        <li><a href="#">Illegal drugs in pregnancy</a>
        </li>
        <li><a href="#">Infections in pregnancy that may affect your baby</a>
        </li>
        <li><a href="#">Medicines in pregnancy</a>
        </li>
        <li><a href="#">Reducing the risk of stillbirth</a>
        </li>
        <li><a href="#">Sex in pregnancy</a>
        </li>
        <li><a href="#">Stop smoking in pregnancy</a>
        </li>
        <li><a href="#">Teenage pregnancy support</a>
        </li>
        <li><a href="#">Travelling in pregnancy</a>
        </li>
        <li><a href="#">Work and pregnancy</a>
        </li>
        <li><a href="#">Your baby's movements</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Your pregnancy (antenatal) care</a>
        <ul class="level-4">
        <li><a href="#">What is antenatal care?</a>
        </li>
        <li><a href="#">Who's who in the antenatal team</a>
        </li>
        <li><a href="#">Your antenatal appointments</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Your pregnancy to-do list</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Labour and birth</a>
      <ul class="level-3">
      <li><a href="#">Emotions and worries</a>
        <ul class="level-4">
        <li><a href="#">Feelings, relationships and pregnancy</a>
        </li>
        <li><a href="#">Pregnancy birth and beyond for dads and partners</a>
        </li>
        <li><a href="#">When pregnancy goes wrong</a>
        </li>
        <li><a href="#">When pregnancy goes wrong (inline link)</a>
          <ul class="level-5">
          <li><a href="#">Termination for foetal abnormality</a>
          </li>
          </ul>
        </li>
        </ul>
      </li>
      <li><a href="#">Premature babies</a>
        <ul class="level-4">
        <li><a href="#">Special care: ill or premature babies</a>
        </li>
        </ul>
      </li>
      <li><a href="#">The birth</a>
        <ul class="level-4">
        <li><a href="#">Breech and transverse birth</a>
        </li>
        <li><a href="#">Episiotomy</a>
        </li>
        <li><a href="#">Forceps or vacuum delivery</a>
        </li>
        <li><a href="#">Getting to know your newborn</a>
        </li>
        <li><a href="#">Giving birth to twins</a>
        </li>
        <li><a href="#">Pain relief in labour</a>
        </li>
        <li><a href="#">Tips for your birth partner</a>
        </li>
        <li><a href="#">What happens during labour and birth</a>
        </li>
        <li><a href="#">What happens straight after the birth</a>
        </li>
        <li><a href="#">Your body just after the birth</a>
        </li>
        </ul>
      </li>
      <li><a href="#">The start of labour</a>
        <ul class="level-4">
        <li><a href="#">At the hospital or birth centre</a>
        </li>
        <li><a href="#">Inducing labour</a>
        </li>
        <li><a href="#">Premature labour and birth</a>
        </li>
        <li><a href="#">Signs that labour has begun</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Your newborn</a>
      <ul class="level-3">
      <li><a href="#">Bottle feeding</a>
        <ul class="level-4">
        <li><a href="#">Bottle feeding advice</a>
        </li>
        <li><a href="#">Formula milk: common questions</a>
        </li>
        <li><a href="#">How to combine breast and bottle</a>
        </li>
        <li><a href="#">How to make up baby formula</a>
        </li>
        <li><a href="#">Sterilising baby bottles</a>
        </li>
        <li><a href="#">Types of formula milk</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Breastfeeding</a>
        <ul class="level-4">
        <li><a href="#">Breastfeeding problems</a>
        </li>
        <li><a href="#">How to stop breastfeeding</a>
        </li>
        <li><a href="#">Sore or cracked nipples when breastfeeding</a>
        </li>
        <li><a href="#">Your breastfeeding questions answered</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Breastfeeding problems</a>
        <ul class="level-4">
        <li><a href="#">Breast pain and breastfeeding</a>
        </li>
        <li><a href="#">Breastfeeding and thrush</a>
        </li>
        <li><a href="#">Breastfeeding: is my baby getting enough milk?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">How to breastfeed</a>
        <ul class="level-4">
        <li><a href="#">Benefits of breastfeeding</a>
        </li>
        <li><a href="#">Breastfeeding help and support</a>
        </li>
        <li><a href="#">Breastfeeding in public</a>
        </li>
        <li><a href="#">Breastfeeding your premature baby</a>
        </li>
        <li><a href="#">Breastfeeding: positioning and attachment</a>
        </li>
        <li><a href="#">Breastfeeding: the first few days</a>
        </li>
        <li><a href="#">Expressing and storing breast milk</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Lifestyle and breastfeeding</a>
        <ul class="level-4">
        <li><a href="#">Breastfeeding and diet</a>
        </li>
        <li><a href="#">Breastfeeding and drinking alcohol</a>
        </li>
        <li><a href="#">Breastfeeding and going back to work</a>
        </li>
        <li><a href="#">Breastfeeding and medicines</a>
        </li>
        <li><a href="#">Breastfeeding and smoking</a>
        </li>
        </ul>
      </li>
      <li><a href="#">New mums</a>
        <ul class="level-4">
        <li><a href="#">Coping with stress after having a baby</a>
        </li>
        <li><a href="#">Feeling depressed after childbirth</a>
        </li>
        <li><a href="#">Keeping fit and healthy with a baby</a>
        </li>
        <li><a href="#">Sex and contraception after birth</a>
        </li>
        <li><a href="#">Sleep and tiredness after having a baby</a>
        </li>
        <li><a href="#">Your 6-week postnatal check</a>
        </li>
        <li><a href="#">Your post-pregnancy body</a>
        </li>
        </ul>
      </li>
      <li><a href="#">New parents</a>
        <ul class="level-4">
        <li><a href="#">Maternity and paternity benefits and leave</a>
        </li>
        <li><a href="#">Tips for new parents</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Newborn essentials</a>
        <ul class="level-4">
        <li><a href="#">Helping your baby to sleep</a>
        </li>
        <li><a href="#">How to change your baby's nappy</a>
        </li>
        <li><a href="#">Nappy rash</a>
        </li>
        <li><a href="#">Soothing a crying baby</a>
        </li>
        <li><a href="#">Washing and bathing your baby</a>
        </li>
        <li><a href="#">What you'll need for your baby</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Newborn screening tests</a>
        <ul class="level-4">
        <li><a href="#">Newborn blood spot screening</a>
        </li>
        <li><a href="#">Newborn hearing screening</a>
        </li>
        <li><a href="#">Newborn physical examination</a>
        </li>
        <li><a href="#">Newborn screening</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Twins and multiples</a>
        <ul class="level-4">
        <li><a href="#">Feeding twins and multiples</a>
        </li>
        <li><a href="#">Twins and postnatal depression</a>
        </li>
        <li><a href="#">Twins and sleep</a>
        </li>
        <li><a href="#">Your newborn twins</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    </ul>
  </li>
  <li><a href="#">Guide - social care</a>
    <ul class="level-2">
    <li><a href="#">Care after a hospital stay</a>
      <ul class="level-3">
      <li><a href="#">Arranging care before you leave hospital</a>
      </li>
      <li><a href="#">Care after illness or hospital discharge</a>
      </li>
      <li><a href="#">Mental health aftercare</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Care after a hospital stay - hub</a>
    </li>
    <li><a href="#">Care services equipment and care homes</a>
      <ul class="level-3">
      <li><a href="#">Care and support you can get for free</a>
      </li>
      <li><a href="#">Care homes</a>
      </li>
      <li><a href="#">Driving and using public transport</a>
      </li>
      <li><a href="#">Home adaptations</a>
      </li>
      <li><a href="#">Homecare</a>
      </li>
      <li><a href="#">Household gadgets and equipment to make life easier</a>
      </li>
      <li><a href="#">Moving to a new home: housing options</a>
      </li>
      <li><a href="#">National homecare providers</a>
      </li>
      <li><a href="#">Personal alarms, security systems (telecare) and keysafes</a>
      </li>
      <li><a href="#">Shared lives schemes</a>
      </li>
      <li><a href="#">Supported living services</a>
      </li>
      <li><a href="#">Walking aids, wheelchairs and mobility scooters</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Caring for children and young people</a>
      <ul class="level-3">
      <li><a href="#">Accessible toys, play and learning</a>
      </li>
      <li><a href="#">Children and young people's services</a>
      </li>
      <li><a href="#">How to care for a disabled child</a>
      </li>
      <li><a href="#">How to care for children with complex needs</a>
      </li>
      <li><a href="#">How to deal with challenging behaviour in children</a>
      </li>
      <li><a href="#">Moving from children's social care to adult's social care</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Help from social services</a>
      <ul class="level-3">
      <li><a href="#">Abuse and neglect of vulnerable adults</a>
      </li>
      <li><a href="#">Care and support plans</a>
      </li>
      <li><a href="#">Care for people with mental health problems (Care Programme Approach)</a>
      </li>
      <li><a href="#">Financial assessment (means test)</a>
      </li>
      <li><a href="#">Getting a needs assessment</a>
      </li>
      <li><a href="#">Helplines and forums</a>
      </li>
      <li><a href="#">Introduction to care and support</a>
      </li>
      <li><a href="#">Someone to speak up for you (advocate)</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Making decisions for someone else</a>
      <ul class="level-3">
      <li><a href="#">Giving someone power of attorney</a>
      </li>
      <li><a href="#">Mental capacity act</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Money, work and benefits</a>
      <ul class="level-3">
      <li><a href="#">Benefits for over-65s</a>
      </li>
      <li><a href="#">Benefits for under-65s</a>
      </li>
      <li><a href="#">NHS continuing healthcare</a>
      </li>
      <li><a href="#">NHS funded nursing care</a>
      </li>
      <li><a href="#">Paying for your own care (self funding)</a>
      </li>
      <li><a href="#">Personal budgets</a>
      </li>
      <li><a href="#">When the council might pay for your care</a>
      </li>
      <li><a href="#">Work and disability</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Practical tips if you care for someone</a>
      <ul class="level-3">
      <li><a href="#">How to care for someone with communication difficulties</a>
      </li>
      <li><a href="#">How to deal with challenging behaviour in adults</a>
      </li>
      <li><a href="#">How to feed someone you care for</a>
      </li>
      <li><a href="#">How to help someone you care for keep clean</a>
      </li>
      <li><a href="#">How to move, lift and handle someone else</a>
      </li>
      <li><a href="#">Medicines tips for carers</a>
      </li>
      <li><a href="#">Sharing your home advice for carers</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Support and benefits for carers</a>
      <ul class="level-3">
      <li><a href="#">Being a young carer: your rights</a>
      </li>
      <li><a href="#">Benefits for carers</a>
      </li>
      <li><a href="#">Carer assessments</a>
      </li>
      <li><a href="#">Carer breask and respite care</a>
      </li>
      <li><a href="#">Help for young carers</a>
      </li>
      </ul>
    </li>
    </ul>
  </li>
  <li><a href="#">Vaccinations - hub</a>
    <ul class="level-2">
    <li><a href="#">Adults</a>
      <ul class="level-3">
      <li><a href="#">Flu vaccine</a>
        <ul class="level-4">
        <li><a href="#">Flu vaccine FAQs</a>
        </li>
        <li><a href="#">Flu vaccine side effects</a>
        </li>
        <li><a href="#">How the flu vaccine works</a>
        </li>
        <li><a href="#">The flu vaccine</a>
        </li>
        <li><a href="#">Who should have the flu vaccine?</a>
        </li>
        <li><a href="#">Who shouldn't have the flu vaccine?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Hepatitis B vaccine</a>
        <ul class="level-4">
        <li><a href="#">Hepatitis B vaccine</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Shingles vaccine</a>
        <ul class="level-4">
        <li><a href="#">Shingles vaccination</a>
        </li>
        <li><a href="#">Shingles vaccine FAQs</a>
        </li>
        <li><a href="#">Shingles vaccine side effects</a>
        </li>
        <li><a href="#">Who can have the shingles vaccine?</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">All about vaccinations</a>
      <ul class="level-3">
      <li><a href="#">Benefits and risks of vaccination</a>
      </li>
      <li><a href="#">How vaccines work</a>
      </li>
      <li><a href="#">Is vaccination safe?</a>
      </li>
      <li><a href="#">Myths about children's vaccines</a>
      </li>
      <li><a href="#">Vaccine ingredients</a>
      </li>
      <li><a href="#">Vaccine side effects</a>
      </li>
      <li><a href="#">Why vaccinate your kids?</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Babies and toddlers</a>
      <ul class="level-3">
      <li><a href="#">6-in-1 vaccine (8, 12 and 16 weeks)</a>
        <ul class="level-4">
        <li><a href="#">6-in-1 vaccine</a>
        </li>
        <li><a href="#">6-in-1 vaccine: side effects</a>
        </li>
        </ul>
      </li>
      <li><a href="#">BCG (TB) vaccine (where advised)</a>
        <ul class="level-4">
        <li><a href="#">BCG (TB) vaccine side effects</a>
        </li>
        <li><a href="#">BCG TB vaccine FAQs</a>
        </li>
        <li><a href="#">BCG tuberculosis (TB) vaccine</a>
        </li>
        <li><a href="#">Who should have the BCG (TB) vaccine?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Chickenpox vaccine (where advised)</a>
        <ul class="level-4">
        <li><a href="#">Chickenpox vaccine</a>
        </li>
        <li><a href="#">Chickenpox vaccine FAQs</a>
        </li>
        <li><a href="#">Chickenpox vaccine side effects</a>
        </li>
        <li><a href="#">Who should have the chickenpox vaccine?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Hib Men C vaccine (1 year)</a>
        <ul class="level-4">
        <li><a href="#">Hib/MenC vaccine</a>
        </li>
        <li><a href="#">Hib/MenC vaccine FAQs</a>
        </li>
        <li><a href="#">Hib/MenC vaccine side effects</a>
        </li>
        </ul>
      </li>
      <li><a href="#">MMR vaccine (1 year)</a>
        <ul class="level-4">
        <li><a href="#">How the MMR vaccine is given</a>
        </li>
        <li><a href="#">MMR vaccine</a>
        </li>
        <li><a href="#">MMR vaccine FAQs</a>
        </li>
        <li><a href="#">MMR vaccine side effects</a>
        </li>
        <li><a href="#">Measles outbreak: what to do</a>
        </li>
        <li><a href="#">Who should have the MMR vaccine?</a>
        </li>
        <li><a href="#">Why I chose to give my daughter the MMR jab'</a>
        </li>
        </ul>
      </li>
      <li><a href="#">MenB vaccine (8, 16 weeks and 1 year)</a>
        <ul class="level-4">
        <li><a href="#">MenB vaccine</a>
        </li>
        <li><a href="#">MenB vaccine side effects</a>
        </li>
        <li><a href="#">Which babies should have the MenB vaccine?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Pneumococcal vaccine (8 weeks, 16 weeks and one year)</a>
        <ul class="level-4">
        <li><a href="#">Pneumococcal vaccine</a>
        </li>
        <li><a href="#">Pneumococcal vaccine side effects</a>
        </li>
        <li><a href="#">Who should have the pneumococcal vaccine?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Rotavirus vaccine (8 and 12 weeks)</a>
        <ul class="level-4">
        <li><a href="#">Rotavirus vaccine</a>
        </li>
        <li><a href="#">Rotavirus vaccine FAQs</a>
        </li>
        <li><a href="#">Rotavirus vaccine side effects</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Vaccination tips</a>
        <ul class="level-4">
        <li><a href="#">Common questions about baby vaccinations</a>
        </li>
        <li><a href="#">Vaccination tips for parents</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Vaccine guidance</a>
        <ul class="level-4">
        <li><a href="#">When to vaccinate your child</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Children and teens</a>
      <ul class="level-3">
      <li><a href="#">3-in-1 teenage booster (14 years)</a>
        <ul class="level-4">
        <li><a href="#">3-in-1 teenage booster</a>
        </li>
        <li><a href="#">3-in-1 teenage booster FAQs</a>
        </li>
        <li><a href="#">3-in-1 teenage booster side effects</a>
        </li>
        </ul>
      </li>
      <li><a href="#">4-in-1 pre-school booster (3 years and 4 months)</a>
        <ul class="level-4">
        <li><a href="#">4-in-1 pre-school booster</a>
        </li>
        <li><a href="#">4-in-1 pre-school booster side effects</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Annual flu vaccine (2 to 9 years including children in reception and schools years 1-5)</a>
        <ul class="level-4">
        <li><a href="#">Children's flu vaccine FAQs</a>
        </li>
        <li><a href="#">Children's flu vaccine side effects</a>
        </li>
        </ul>
      </li>
      <li><a href="#">HPV vaccine (12 to 13 years)</a>
        <ul class="level-4">
        <li><a href="#">HPV vaccine</a>
        </li>
        <li><a href="#">HPV vaccine safety</a>
        </li>
        <li><a href="#">HPV vaccine side effects</a>
        </li>
        <li><a href="#">How is the HPV vaccine given?</a>
        </li>
        <li><a href="#">Who should have the HPV vaccine?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">MMR vaccine</a>
        <ul class="level-4">
        <li><a href="#">Vaccination against mumps</a>
        </li>
        </ul>
      </li>
      <li><a href="#">MenACWY vaccine (14 years)</a>
        <ul class="level-4">
        <li><a href="#">MenACWY vaccine</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Children and teens/Babies and toddlers</a>
      <ul class="level-3">
      <li><a href="#">Childhood vaccines timeline</a>
      </li>
      </ul>
    </li>
    </ul>
  </li>
  </ul>





</div>
{% endblock content %}
