{% extends "layout.njk" %}
{% set title = 'Health check Guide' %}
{% set body_class = 'home' %}
{% set stylesheet = 'styles-new.css' %}


{% block content %}
<div class="tree">

<h1>{{ title }}</h1>


<ul class="level-1">
<li><a href="#">Guide - Health check</a>
  <ul class="level-2">
  <li><a href="#">Health and fitness trackers</a>
  </li>
  <li><a href="#">How do I get an NHS Health Check?</a>
  </li>
  <li><a href="#">I was a walking heart attack'</a>
  </li>
  <li><a href="#">My blood pressure was too high'</a>
  </li>
  <li><a href="#">NHS Health Check video library</a>
  </li>
  <li><a href="#">Pros and cons of the NHS Health Check</a>
  </li>
  <li><a href="#">What happens at an NHS Health Check?</a>
  </li>
  <li><a href="#">What is an NHS Health Check?</a>
  </li>
  <li><a href="#">Your NHS Health Check results and action plan</a>
  </li>
  </ul>
</li>
<li><a href="#">﻿Guide - Health check</a>
  <ul class="level-2">
  <li><a href="#">What's your heart age?</a>
  </li>
  </ul>
</li>
</ul>
d


</div>
{% endblock content %}
