{% extends "layout.njk" %}
{% set title = 'Social Care Guide' %}
{% set body_class = 'home' %}
{% set stylesheet = 'styles-new.css' %}


{% block content %}
<div class="tree">

<h1>{{ title }}</h1>

  <ul class="level-1">


    <li><a href="#">Social Care</a>
      <ul class="level-2">
      <li><a href="#">Care after a hospital stay</a>
        <ul class="level-3">
        <li><a href="#">Arranging care before you leave hospital</a>
        </li>
        <li><a href="#">Care after illness or hospital discharge</a>
        </li>
        <li><a href="#">Mental health aftercare</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Care after a hospital stay - hub</a>
      </li>
      <li><a href="#">Care services equipment and care homes</a>
        <ul class="level-3">
        <li><a href="#">Care and support you can get for free</a>
        </li>
        <li><a href="#">Care homes</a>
        </li>
        <li><a href="#">Driving and using public transport</a>
        </li>
        <li><a href="#">Home adaptations</a>
        </li>
        <li><a href="#">Homecare</a>
        </li>
        <li><a href="#">Household gadgets and equipment to make life easier</a>
        </li>
        <li><a href="#">Moving to a new home: housing options</a>
        </li>
        <li><a href="#">National homecare providers</a>
        </li>
        <li><a href="#">Personal alarms, security systems (telecare) and keysafes</a>
        </li>
        <li><a href="#">Shared lives schemes</a>
        </li>
        <li><a href="#">Supported living services</a>
        </li>
        <li><a href="#">Walking aids, wheelchairs and mobility scooters</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Caring for children and young people</a>
        <ul class="level-3">
        <li><a href="#">Accessible toys, play and learning</a>
        </li>
        <li><a href="#">Children and young people's services</a>
        </li>
        <li><a href="#">How to care for a disabled child</a>
        </li>
        <li><a href="#">How to care for children with complex needs</a>
        </li>
        <li><a href="#">How to deal with challenging behaviour in children</a>
        </li>
        <li><a href="#">Moving from children's social care to adult's social care</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Help from social services</a>
        <ul class="level-3">
        <li><a href="#">Abuse and neglect of vulnerable adults</a>
        </li>
        <li><a href="#">Care and support plans</a>
        </li>
        <li><a href="#">Care for people with mental health problems (Care Programme Approach)</a>
        </li>
        <li><a href="#">Financial assessment (means test)</a>
        </li>
        <li><a href="#">Getting a needs assessment</a>
        </li>
        <li><a href="#">Helplines and forums</a>
        </li>
        <li><a href="#">Introduction to care and support</a>
        </li>
        <li><a href="#">Someone to speak up for you (advocate)</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Making decisions for someone else</a>
        <ul class="level-3">
        <li><a href="#">Giving someone power of attorney</a>
        </li>
        <li><a href="#">Mental capacity act</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Money, work and benefits</a>
        <ul class="level-3">
        <li><a href="#">Benefits for over-65s</a>
        </li>
        <li><a href="#">Benefits for under-65s</a>
        </li>
        <li><a href="#">NHS continuing healthcare</a>
        </li>
        <li><a href="#">NHS funded nursing care</a>
        </li>
        <li><a href="#">Paying for your own care (self funding)</a>
        </li>
        <li><a href="#">Personal budgets</a>
        </li>
        <li><a href="#">When the council might pay for your care</a>
        </li>
        <li><a href="#">Work and disability</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Practical tips if you care for someone</a>
        <ul class="level-3">
        <li><a href="#">How to care for someone with communication difficulties</a>
        </li>
        <li><a href="#">How to deal with challenging behaviour in adults</a>
        </li>
        <li><a href="#">How to feed someone you care for</a>
        </li>
        <li><a href="#">How to help someone you care for keep clean</a>
        </li>
        <li><a href="#">How to move, lift and handle someone else</a>
        </li>
        <li><a href="#">Medicines tips for carers</a>
        </li>
        <li><a href="#">Sharing your home advice for carers</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Support and benefits for carers</a>
        <ul class="level-3">
        <li><a href="#">Being a young carer: your rights</a>
        </li>
        <li><a href="#">Benefits for carers</a>
        </li>
        <li><a href="#">Carer assessments</a>
        </li>
        <li><a href="#">Carer breask and respite care</a>
        </li>
        <li><a href="#">Help for young carers</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>



  </ul>





</div>
{% endblock content %}
