{% extends "layout.njk" %}
{% set title = 'Vaccination Guide' %}
{% set body_class = 'home' %}
{% set stylesheet = 'styles-new.css' %}


{% block content %}
<div class="tree">

<h1>{{ title }}</h1>

  <ul class="level-1">


    <li><a href="#">Vaccinations</a>
      <ul class="level-2">
      <li><a href="#">Adults</a>
        <ul class="level-3">
        <li><a href="#">Flu vaccine</a>
          <ul class="level-4">
          <li><a href="#">Flu vaccine FAQs</a>
          </li>
          <li><a href="#">Flu vaccine side effects</a>
          </li>
          <li><a href="#">How the flu vaccine works</a>
          </li>
          <li><a href="#">The flu vaccine</a>
          </li>
          <li><a href="#">Who should have the flu vaccine?</a>
          </li>
          <li><a href="#">Who shouldn't have the flu vaccine?</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Hepatitis B vaccine</a>
          <ul class="level-4">
          <li><a href="#">Hepatitis B vaccine</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Shingles vaccine</a>
          <ul class="level-4">
          <li><a href="#">Shingles vaccination</a>
          </li>
          <li><a href="#">Shingles vaccine FAQs</a>
          </li>
          <li><a href="#">Shingles vaccine side effects</a>
          </li>
          <li><a href="#">Who can have the shingles vaccine?</a>
          </li>
          </ul>
        </li>
        </ul>
      </li>
      <li><a href="#">All about vaccinations</a>
        <ul class="level-3">
        <li><a href="#">Benefits and risks of vaccination</a>
        </li>
        <li><a href="#">How vaccines work</a>
        </li>
        <li><a href="#">Is vaccination safe?</a>
        </li>
        <li><a href="#">Myths about children's vaccines</a>
        </li>
        <li><a href="#">Vaccine ingredients</a>
        </li>
        <li><a href="#">Vaccine side effects</a>
        </li>
        <li><a href="#">Why vaccinate your kids?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Babies and toddlers</a>
        <ul class="level-3">
        <li><a href="#">6-in-1 vaccine (8, 12 and 16 weeks)</a>
          <ul class="level-4">
          <li><a href="#">6-in-1 vaccine</a>
          </li>
          <li><a href="#">6-in-1 vaccine: side effects</a>
          </li>
          </ul>
        </li>
        <li><a href="#">BCG (TB) vaccine (where advised)</a>
          <ul class="level-4">
          <li><a href="#">BCG (TB) vaccine side effects</a>
          </li>
          <li><a href="#">BCG TB vaccine FAQs</a>
          </li>
          <li><a href="#">BCG tuberculosis (TB) vaccine</a>
          </li>
          <li><a href="#">Who should have the BCG (TB) vaccine?</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Chickenpox vaccine (where advised)</a>
          <ul class="level-4">
          <li><a href="#">Chickenpox vaccine</a>
          </li>
          <li><a href="#">Chickenpox vaccine FAQs</a>
          </li>
          <li><a href="#">Chickenpox vaccine side effects</a>
          </li>
          <li><a href="#">Who should have the chickenpox vaccine?</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Hib Men C vaccine (1 year)</a>
          <ul class="level-4">
          <li><a href="#">Hib/MenC vaccine</a>
          </li>
          <li><a href="#">Hib/MenC vaccine FAQs</a>
          </li>
          <li><a href="#">Hib/MenC vaccine side effects</a>
          </li>
          </ul>
        </li>
        <li><a href="#">MMR vaccine (1 year)</a>
          <ul class="level-4">
          <li><a href="#">How the MMR vaccine is given</a>
          </li>
          <li><a href="#">MMR vaccine</a>
          </li>
          <li><a href="#">MMR vaccine FAQs</a>
          </li>
          <li><a href="#">MMR vaccine side effects</a>
          </li>
          <li><a href="#">Measles outbreak: what to do</a>
          </li>
          <li><a href="#">Who should have the MMR vaccine?</a>
          </li>
          <li><a href="#">Why I chose to give my daughter the MMR jab'</a>
          </li>
          </ul>
        </li>
        <li><a href="#">MenB vaccine (8, 16 weeks and 1 year)</a>
          <ul class="level-4">
          <li><a href="#">MenB vaccine</a>
          </li>
          <li><a href="#">MenB vaccine side effects</a>
          </li>
          <li><a href="#">Which babies should have the MenB vaccine?</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Pneumococcal vaccine (8 weeks, 16 weeks and one year)</a>
          <ul class="level-4">
          <li><a href="#">Pneumococcal vaccine</a>
          </li>
          <li><a href="#">Pneumococcal vaccine side effects</a>
          </li>
          <li><a href="#">Who should have the pneumococcal vaccine?</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Rotavirus vaccine (8 and 12 weeks)</a>
          <ul class="level-4">
          <li><a href="#">Rotavirus vaccine</a>
          </li>
          <li><a href="#">Rotavirus vaccine FAQs</a>
          </li>
          <li><a href="#">Rotavirus vaccine side effects</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Vaccination tips</a>
          <ul class="level-4">
          <li><a href="#">Common questions about baby vaccinations</a>
          </li>
          <li><a href="#">Vaccination tips for parents</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Vaccine guidance</a>
          <ul class="level-4">
          <li><a href="#">When to vaccinate your child</a>
          </li>
          </ul>
        </li>
        </ul>
      </li>
      <li><a href="#">Children and teens</a>
        <ul class="level-3">
        <li><a href="#">3-in-1 teenage booster (14 years)</a>
          <ul class="level-4">
          <li><a href="#">3-in-1 teenage booster</a>
          </li>
          <li><a href="#">3-in-1 teenage booster FAQs</a>
          </li>
          <li><a href="#">3-in-1 teenage booster side effects</a>
          </li>
          </ul>
        </li>
        <li><a href="#">4-in-1 pre-school booster (3 years and 4 months)</a>
          <ul class="level-4">
          <li><a href="#">4-in-1 pre-school booster</a>
          </li>
          <li><a href="#">4-in-1 pre-school booster side effects</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Annual flu vaccine (2 to 9 years including children in reception and schools years 1-5)</a>
          <ul class="level-4">
          <li><a href="#">Children's flu vaccine FAQs</a>
          </li>
          <li><a href="#">Children's flu vaccine side effects</a>
          </li>
          </ul>
        </li>
        <li><a href="#">HPV vaccine (12 to 13 years)</a>
          <ul class="level-4">
          <li><a href="#">HPV vaccine</a>
          </li>
          <li><a href="#">HPV vaccine safety</a>
          </li>
          <li><a href="#">HPV vaccine side effects</a>
          </li>
          <li><a href="#">How is the HPV vaccine given?</a>
          </li>
          <li><a href="#">Who should have the HPV vaccine?</a>
          </li>
          </ul>
        </li>
        <li><a href="#">MMR vaccine</a>
          <ul class="level-4">
          <li><a href="#">Vaccination against mumps</a>
          </li>
          </ul>
        </li>
        <li><a href="#">MenACWY vaccine (14 years)</a>
          <ul class="level-4">
          <li><a href="#">MenACWY vaccine</a>
          </li>
          </ul>
        </li>
        </ul>
      </li>
      <li><a href="#">Children and teens/Babies and toddlers</a>
        <ul class="level-3">
        <li><a href="#">Childhood vaccines timeline</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>



  </ul>





</div>
{% endblock content %}
