{% extends "layout.njk" %}
{% set title = 'Fitness Studio Guide' %}
{% set body_class = 'home' %}
{% set stylesheet = 'styles-new.css' %}


{% block content %}
<div class="tree">

<h1>{{ title }}</h1>

  <ul class="level-1">

    <li><a href="#">Fitness Studio</a>
      <ul class="level-2">
      <li><a href="#">Aerobic exercise</a>
      </li>
      <li><a href="#">Pilates and yoga</a>
      </li>
      <li><a href="#">Strength and resistance</a>
      </li>
      </ul>
    </li>

  </ul>





</div>
{% endblock content %}
