{% extends "layout.njk" %}
{% set title = 'Contraception Guide' %}
{% set body_class = 'home' %}
{% set stylesheet = 'styles-new.css' %}


{% block content %}
<div class="tree">

<h1>{{ title }}</h1>

  <ul class="level-1">



    <li><a href="#">Contraception</a>
      <ul class="level-2">
      <li><a href="#">Getting started</a>
        <ul class="level-3">
        <li><a href="#">Where can I get contraception?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Getting started/Methods of contraception</a>
        <ul class="level-3">
        <li><a href="#">Female condoms</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Methods of contraception</a>
        <ul class="level-3">
        <li><a href="#">Combined pill</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Questions about the pill</a>
        <ul class="level-3">
        <li><a href="#">Being on the pill</a>
          <ul class="level-4">
          <li><a href="#">What if I'm on the pill and I'm sick or have diarrhoea?</a>
          </li>
          <li><a href="#">What medicines affect my contraception?</a>
          </li>
          <li><a href="#">Will a pregnancy test work if I'm on the pill?</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Missed pills and extra pills</a>
          <ul class="level-4">
          <li><a href="#">What if I've lost a contraceptive pill?</a>
          </li>
          <li><a href="#">What if I've taken an extra pill?</a>
          </li>
          <li><a href="#">What should I do if I miss a pill (combined pill)?</a>
          </li>
          <li><a href="#">What should I do if I miss a pill (progestogen only pill)?</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Periods and the pill</a>
          <ul class="level-4">
          <li><a href="#">How do I know if I've reached menopause if I'm on the pill?</a>
          </li>
          <li><a href="#">When will my periods return after stopping?</a>
          </li>
          </ul>
        </li>
        <li><a href="#">The pill for men</a>
          <ul class="level-4">
          <li><a href="#">What is the male pill?</a>
          </li>
          </ul>
        </li>
        </ul>
      </li>
      <li><a href="#">Which is best for me?</a>
        <ul class="level-3">
        <li><a href="#">Things to consider</a>
          <ul class="level-4">
          <li><a href="#">Which method of contraception suits me?</a>
          </li>
          </ul>
        </li>
        </ul>
      </li>
      <li><a href="#">Which is best for me?/Worries and questions</a>
        <ul class="level-3">
        <li><a href="#">Things for consider</a>
          <ul class="level-4">
          <li><a href="#">How effective is contraception at preventing pregnancy?</a>
          </li>
          </ul>
        </li>
        </ul>
      </li>
      <li><a href="#">Worries and questions</a>
        <ul class="level-3">
        <li><a href="#">Contraception after a baby</a>
          <ul class="level-4">
          <li><a href="#">When can I use contraception after having a baby?</a>
          </li>
          </ul>
        </li>
        <li><a href="#">I've had unprotected sex</a>
          <ul class="level-4">
          <li><a href="#">Where can I get emergency contraception?</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Using contraception effectively</a>
          <ul class="level-4">
          <li><a href="#">What is my partner won't use a condom?</a>
          </li>
          <li><a href="#">Will antibiotics stop my contraception working?</a>
          </li>
          </ul>
        </li>
        </ul>
      </li>
      </ul>
    </li>



  </ul>





</div>
{% endblock content %}
