{% extends "layout.njk" %}
{% set title = 'Health check Guide' %}
{% set body_class = 'home' %}
{% set stylesheet = 'styles-new.css' %}


{% block content %}
<div class="tree">

<h1>{{ title }}</h1>

  <ul class="level-1">
    <li><a href="#">Health check</a>
    </li>
  </ul>

</div>
{% endblock content %}
