{% extends "layout.njk" %}
{% set title = 'Sitemap Experiment' %}
{% set body_class = 'home' %}


{% block content %}
<div class="tree">

<h1>Letter I</h1>

  <ul class="level-1">
  <li><a href="#">Health A-Z</a>
    <ul class="level-2">
    <li><a href="#">Ibuprofen</a>
    </li>
    <li><a href="#">Ichthyosis</a>
    </li>
    <li><a href="#">Idiopathic pulmonary fibrosis</a>
      <ul class="level-3">
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Ileostomy</a>
      <ul class="level-3">
      <li><a href="#">Living with</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">REcovery</a>
      </li>
      <li><a href="#">Reversal</a>
      </li>
      <li><a href="#">Risks</a>
      </li>
      <li><a href="#">What happens</a>
      </li>
      <li><a href="#">Why it's done</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Impetigo</a>
    </li>
    <li><a href="#">In vitro fertilisation (IVF)</a>
      <ul class="level-3">
      <li><a href="#">Availability</a>
      </li>
      <li><a href="#">Getting started</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Risks</a>
      </li>
      <li><a href="#">Support</a>
      </li>
      <li><a href="#">What happens</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Indigestion</a>
    </li>
    <li><a href="#">Infertility</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Inflammatory bowel disease</a>
    </li>
    <li><a href="#">Ingrown hairs</a>
    </li>
    <li><a href="#">Ingrown toenail</a>
    </li>
    <li><a href="#">Inguinal hernia repair</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Recovery</a>
      </li>
      <li><a href="#">What happens</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Insect bites and stings</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Prevention</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Insomnia</a>
    </li>
    <li><a href="#">Intensive care</a>
    </li>
    <li><a href="#">Interstitial cystitis</a>
    </li>
    <li><a href="#">Intracranial hypertension</a>
    </li>
    <li><a href="#">Iron deficiency anaemia</a>
    </li>
    <li><a href="#">Irregular periods</a>
    </li>
    <li><a href="#">Irritable bowel syndrome (IBS)</a>
      <ul class="level-3">
      <li><a href="#">Diet, lifestyle and medicines</a>
      </li>
      <li><a href="#">Further help and support</a>
      </li>
      <li><a href="#">Getting diagnoses</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Isovaleric acidaemia</a>
    </li>
    <li><a href="#">Itchy anus</a>
    </li>
    <li><a href="#">Itchy skin</a>
    </li>
    </ul>
  </li>
  </ul>





</div>
{% endblock content %}
