{% extends "layout.njk" %}
{% set title = 'Sitemap Experiment' %}
{% set body_class = 'home' %}


{% block content %}
<div class="tree">



  <ul class="level-1">
  <li><a href="#">Health A-Z</a>
    <ul class="level-2">
    <li><a href="#">Kaposis sarcoma</a>
    </li>
    <li><a href="#">Kawasaki disease</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Complications</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Keratosis pilaris</a>
    </li>
    <li><a href="#">Kidney cancer</a>
      <ul class="level-3">
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Kidney disease</a>
      <ul class="level-3">
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Living with</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Pharmacy remedies</a>
      </li>
      <li><a href="#">Prevention</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Kidney infection</a>
    </li>
    <li><a href="#">Kidney stones</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Prevention</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Kidney transplant</a>
      <ul class="level-3">
      <li><a href="#">Living with</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Risks</a>
      </li>
      <li><a href="#">Waiting list</a>
      </li>
      <li><a href="#">What happens</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Klinefelters syndrome</a>
    </li>
    <li><a href="#">Knee ligament surgery</a>
      <ul class="level-3">
      <li><a href="#">Decision</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Preparation</a>
      </li>
      <li><a href="#">Recovery</a>
      </li>
      <li><a href="#">Risks</a>
      </li>
      <li><a href="#">What happens</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Knee pain</a>
    </li>
    <li><a href="#">Knee replacement</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Recovery</a>
      </li>
      <li><a href="#">Risks</a>
      </li>
      <li><a href="#">What happens</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Knock knees</a>
    </li>
    <li><a href="#">Knocked out tooth</a>
    </li>
    <li><a href="#">Kwashiorkor</a>
    </li>
    <li><a href="#">Kyphosis</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    </ul>
  </li>
  </ul>





</div>
{% endblock content %}
