{% extends "layout.njk" %}
{% set title = 'Sitemap Experiment' %}
{% set body_class = 'home' %}


{% block content %}
<div class="tree">

<h1>Letter O</h1>

  <ul class="level-1">
  <li><a href="#">Health A-Z</a>
    <ul class="level-2">
    <li><a href="#">Obesity</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Obsessive compulsive disorder (OCD)</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Obstructive sleep apnoea</a>
      <ul class="level-3">
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Occupational therapy</a>
    </li>
    <li><a href="#">Oedema</a>
    </li>
    <li><a href="#">Oesophageal atresia</a>
    </li>
    <li><a href="#">Oesophageal cancer</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Living with</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Oral thrush (mouth thrush)</a>
    </li>
    <li><a href="#">Oral thrush in babies</a>
    </li>
    <li><a href="#">Orf</a>
    </li>
    <li><a href="#">Orthodontics</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Osteoarthritis</a>
      <ul class="level-3">
      <li><a href="#">Living with</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Osteomyelitis</a>
    </li>
    <li><a href="#">Osteopathy</a>
      <ul class="level-3">
      <li><a href="#">Evidence</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Safety</a>
      </li>
      <li><a href="#">What happens</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Osteophyte (bone spur)</a>
    </li>
    <li><a href="#">Osteoporosis</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Living with</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Prevention</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Otosclerosis</a>
    </li>
    <li><a href="#">Ovarian cancer</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Living with</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Ovarian cyst</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Overactive thyroid (hyperthyroidism)</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Complications</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Ovulation pain</a>
    </li>
    </ul>
  </li>
  </ul>





</div>
{% endblock content %}
