{% extends "layout.njk" %}
{% set title = 'Sitemap Experiment' %}
{% set body_class = 'home' %}


{% block content %}
<div class="tree">



  <ul class="level-1">
  <li><a href="#">Health A-Z</a>
    <ul class="level-2">
    <li><a href="#">PET scan</a>
    </li>
    <li><a href="#">PIP implants</a>
    </li>
    <li><a href="#">Pacemaker implantation</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Recovery</a>
      </li>
      <li><a href="#">Risks</a>
      </li>
      <li><a href="#">What happens</a>
      </li>
      <li><a href="#">Why it's done</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Pagets disease (bone)</a>
      <ul class="level-3">
      <li><a href="#">Complications</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Pagets disease (nipple)</a>
      <ul class="level-3">
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Prevention</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Pancreas transplant</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Preparation</a>
      </li>
      <li><a href="#">Recovery</a>
      </li>
      <li><a href="#">Risks</a>
      </li>
      <li><a href="#">What happens</a>
      </li>
      <li><a href="#">Why it's done</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Pancreatic cancer</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Panic disorder</a>
    </li>
    <li><a href="#">Paracetamol</a>
    </li>
    <li><a href="#">Paralysis</a>
    </li>
    <li><a href="#">Parkinsons disease</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Living with</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Patau's syndrome</a>
    </li>
    <li><a href="#">Peak flow test</a>
    </li>
    <li><a href="#">Pelvic inflammatory disease</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Complications</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Pelvic organ prolapse</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Pelvic pain</a>
    </li>
    <li><a href="#">Pemphigus vulgaris</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Penile cancer</a>
    </li>
    <li><a href="#">Penis problems</a>
    </li>
    <li><a href="#">Perforated eardrum</a>
    </li>
    <li><a href="#">Pericarditis</a>
    </li>
    <li><a href="#">Period pain</a>
    </li>
    <li><a href="#">Periods</a>
      <ul class="level-3">
      <li><a href="#">Delayed periods</a>
      </li>
      <li><a href="#">Fertility in the menstrual cycle</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Period problems</a>
      </li>
      <li><a href="#">Starting periods</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Peripheral arterial disease (PAD)</a>
      <ul class="level-3">
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Peripheral neuropathy</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Complications</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Peritonitis</a>
    </li>
    <li><a href="#">Persistent trophoblastic disease (choriocarcinoma)</a>
    </li>
    <li><a href="#">Personality disorder</a>
    </li>
    <li><a href="#">Peurisy</a>
    </li>
    <li><a href="#">Phaeochromocytoma</a>
    </li>
    <li><a href="#">Phantosmia</a>
    </li>
    <li><a href="#">Phenylketonuria</a>
    </li>
    <li><a href="#">Phimosis</a>
    </li>
    <li><a href="#">Phlebitis</a>
    </li>
    <li><a href="#">Phobias</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Self-help</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Phosphate test</a>
    </li>
    <li><a href="#">Photodynamic therapy</a>
    </li>
    <li><a href="#">Physiotherapy</a>
      <ul class="level-3">
      <li><a href="#">Accessing</a>
      </li>
      <li><a href="#">How it works</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Piles (haemorrhoids)</a>
      <ul class="level-3">
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Surgery</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Piloidal sinus</a>
    </li>
    <li><a href="#">Pins and needles</a>
    </li>
    <li><a href="#">Pityriasis rosea</a>
    </li>
    <li><a href="#">Pityriasis versicolor</a>
    </li>
    <li><a href="#">Plagiocephaly and brachycephaly (flat head syndrome)</a>
    </li>
    <li><a href="#">Plantar fasciitis</a>
    </li>
    <li><a href="#">Plastic surgery</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">What happens</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Pneumonia</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Poisoning</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Prevention</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Polio</a>
    </li>
    <li><a href="#">Polycystic ovary syndrome (PCOS)</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Polycythaemia</a>
    </li>
    <li><a href="#">Polyhydramnios</a>
    </li>
    <li><a href="#">Polymorphic light eruption</a>
    </li>
    <li><a href="#">Polymyalgia rheumatica</a>
      <ul class="level-3">
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Pompholyx</a>
    </li>
    <li><a href="#">Post herpetic neuralgia</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Post mortem</a>
    </li>
    <li><a href="#">Post-menopausal bleeding</a>
    </li>
    <li><a href="#">Post-partum psychosis</a>
    </li>
    <li><a href="#">Post-polio syndrome</a>
      <ul class="level-3">
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Post-traumatic stress disorder</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Complex</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Postnatal depression</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Postural tachycardia syndrome</a>
    </li>
    <li><a href="#">Potassium test</a>
    </li>
    <li><a href="#">Prader Willi syndrome</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Living with</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Pre-eclampsia</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Complications</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Pre-menstrual syndrome</a>
    </li>
    <li><a href="#">Predictive genetic tests for cancer risk genes</a>
    </li>
    <li><a href="#">Pressure sores</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Priapism (painful erections)</a>
    </li>
    <li><a href="#">Primary biliary cirrhosis (PBC)</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Probiotics</a>
    </li>
    <li><a href="#">Problems swallowing pills</a>
    </li>
    <li><a href="#">Progressive supranuclear palsy (PSP)</a>
    </li>
    <li><a href="#">Prostate cancer</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Living with</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">PSA testing</a>
      </li>
      <li><a href="#">Should I have a PSA test?</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Prostate enlargement</a>
      <ul class="level-3">
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Prostate problems</a>
    </li>
    <li><a href="#">Prostatitis</a>
    </li>
    <li><a href="#">Psoriasis</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Living with</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Psoriatic arthritis</a>
    </li>
    <li><a href="#">Psychiatry</a>
    </li>
    <li><a href="#">Psychosis</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Pubic lice</a>
    </li>
    <li><a href="#">Pudendal neuralgia</a>
    </li>
    <li><a href="#">Pulmonary embolism</a>
    </li>
    <li><a href="#">Pulmonary hypertension</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Daignosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Pyoderma gangrenosum</a>
    </li>
    <li><a href="#">Treatment</a>
    </li>
    </ul>
  </li>
  </ul>





</div>
{% endblock content %}
