{% extends "layout.njk" %}
{% set title = 'Pregnancy and Baby Guide' %}
{% set body_class = 'home' %}


{% block content %}
<div class="tree">

<h1>{{ title }}</h1>

  <ul class="level-1">

  <li><a href="#">Guide - pregnancy and baby</a>
    <ul class="level-2">
    <li><a href="#">??? (see notes)</a>
      <ul class="level-3">
      <li><a href="#">??? (see notes)</a>
        <ul class="level-4">
        <li><a href="#">Coping with stillbirth</a>
        </li>
        <li><a href="#">Deep vein thrombosis (DVT) in pregnancy</a>
        </li>
        <li><a href="#">Domestic abuse in pregnancy</a>
        </li>
        <li><a href="#">Having a baby that might be born with a condition</a>
        </li>
        <li><a href="#">High blood pressure (hypertension) in pregnancy</a>
        </li>
        <li><a href="#">How to help a choking child</a>
        </li>
        <li><a href="#">If your child has to go to hospital</a>
        </li>
        <li><a href="#">Newborn blood spot cards explained</a>
        </li>
        <li><a href="#">Newborn blood spot screening FAQs</a>
        </li>
        <li><a href="#">Relationships after having a baby</a>
        </li>
        <li><a href="#">Your first midwife appointment</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Common pregnancy ailments</a>
        <ul class="level-4">
        <li><a href="#">Headaches in pregnancy</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Babies and toddlers</a>
      <ul class="level-3">
      <li><a href="#">Baby health and care</a>
        <ul class="level-4">
        <li><a href="#">Constipation in young children</a>
        </li>
        <li><a href="#">Coughs, colds and ear infections in children</a>
        </li>
        <li><a href="#">Does your child have a serious illness?</a>
        </li>
        <li><a href="#">How to take your baby's temperature</a>
        </li>
        <li><a href="#">Infectious illnesses in children</a>
        </li>
        <li><a href="#">Leg and foot problems in children</a>
        </li>
        <li><a href="#">Looking after a sick child</a>
        </li>
        <li><a href="#">Looking after your baby's teeth</a>
        </li>
        <li><a href="#">Medicines for babies and children</a>
        </li>
        <li><a href="#">Reduce the risk of sudden infant death syndrome</a>
        </li>
        <li><a href="#">Sleep problems in young children</a>
        </li>
        <li><a href="#">Treating a fever (high temperature) in children</a>
        </li>
        <li><a href="#">Your baby's health and development reviews</a>
        </li>
        <li><a href="#">Your baby's weight and height</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Learning, play and bahaviour</a>
        <ul class="level-4">
        <li><a href="#">How to potty train</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Learning, play and behaviour</a>
        <ul class="level-4">
        <li><a href="#">Baby and toddler play ideas</a>
        </li>
        <li><a href="#">Bedwetting in young children</a>
        </li>
        <li><a href="#">Dealing with child bahaviour problems</a>
        </li>
        <li><a href="#">Help you baby learn to talk</a>
        </li>
        <li><a href="#">How to keep your baby or toddler active</a>
        </li>
        <li><a href="#">Potty training problems</a>
        </li>
        <li><a href="#">Separation anxiety</a>
        </li>
        <li><a href="#">Teaching your child everyday skills</a>
        </li>
        <li><a href="#">Temper tantrums</a>
        </li>
        <li><a href="#">Why play is important</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Parenting</a>
        <ul class="level-4">
        <li><a href="#">Advice for single parents</a>
        </li>
        <li><a href="#">Introducing your toddler to a new baby</a>
        </li>
        <li><a href="#">Planning another pregnancy</a>
        </li>
        <li><a href="#">Services and support for parents</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Safety and accidents</a>
        <ul class="level-4">
        <li><a href="#">Baby and toddler safety</a>
        </li>
        <li><a href="#">How to resuscitate a child</a>
        </li>
        <li><a href="#">Sun safety for children</a>
        </li>
        <li><a href="#">What to do if your child has an accident</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Teething</a>
        <ul class="level-4">
        <li><a href="#">Baby teething symptoms</a>
        </li>
        <li><a href="#">Tips for helping your teething baby</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Twins</a>
        <ul class="level-4">
        <li><a href="#">Twins and language</a>
        </li>
        <li><a href="#">Twins at school</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Weaning and solid foods</a>
        <ul class="level-4">
        <li><a href="#">Baby and toddler meal ideas</a>
        </li>
        <li><a href="#">Children's food: safety and hygiene</a>
        </li>
        <li><a href="#">Drinks and cups for babies and young children</a>
        </li>
        <li><a href="#">Food allergies in babies and young children</a>
        </li>
        <li><a href="#">Foods to avoid giving babies and young children</a>
        </li>
        <li><a href="#">Fussy eaters</a>
        </li>
        <li><a href="#">Help your baby enjoy new foods</a>
        </li>
        <li><a href="#">Vegetarian and vegan babies and children</a>
        </li>
        <li><a href="#">Vitamins for children</a>
        </li>
        <li><a href="#">What to feed young children</a>
        </li>
        <li><a href="#">Young children and food: common questions</a>
        </li>
        <li><a href="#">Your baby's first solid foods</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Babies and toddlers/Your newborn</a>
      <ul class="level-3">
      <li><a href="#">Safety and accidents/Newborn essentials</a>
        <ul class="level-4">
        <li><a href="#">Choosing a baby car seat</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Getting pregnant</a>
      <ul class="level-3">
      <li><a href="#">Am I pregnant?</a>
        <ul class="level-4">
        <li><a href="#">Doing a pregnancy test</a>
        </li>
        <li><a href="#">Finding out you're pregnant</a>
        </li>
        <li><a href="#">Trying to get pregnant</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Secrets to success</a>
        <ul class="level-4">
        <li><a href="#">Drinking alcohol while pregnant</a>
        </li>
        <li><a href="#">Exercise in pregnancy</a>
        </li>
        <li><a href="#">Healthy diet</a>
        </li>
        <li><a href="#">Overweight and pregnant</a>
        </li>
        <li><a href="#">Planning your pregnancy</a>
        </li>
        <li><a href="#">Vitamins, supplements and nurition in pregnancy</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Getting pregnant/I'm pregnant</a>
      <ul class="level-3">
      <li><a href="#">Am I pregnant?/Early days</a>
        <ul class="level-4">
        <li><a href="#">Signs and symptoms of pregnancy</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Secrets to success/Your health and wellbeing</a>
        <ul class="level-4">
        <li><a href="#">Foods to avoid in pregnancy</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">I'm pregnant</a>
      <ul class="level-3">
      <li><a href="#">Common pregnancy ailments</a>
        <ul class="level-4">
        <li><a href="#">Backache</a>
        </li>
        <li><a href="#">Common health problems in pregnancy</a>
          <ul class="level-5">
          <li><a href="#">Leaking from your nipples</a>
          </li>
          <li><a href="#">Nosebleeds in pregnancy</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Indigestion and heartburn in pregnancy</a>
        </li>
        <li><a href="#">Pelvic pain in pregnancy</a>
        </li>
        <li><a href="#">Piles in pregnancy</a>
        </li>
        <li><a href="#">Stomach pain in pregnancy</a>
        </li>
        <li><a href="#">Stretch marks in pregnancy</a>
        </li>
        <li><a href="#">Swollen ankles, feet and fingers in pregnancy</a>
        </li>
        <li><a href="#">Teeth and gums in pregnancy</a>
        </li>
        <li><a href="#">Tiredness in pregnancy</a>
        </li>
        <li><a href="#">Vaginal bleeding in pregnancy</a>
        </li>
        <li><a href="#">Vaginal discharge in pregnancy</a>
        </li>
        <li><a href="#">Vomiting and morning sickness in pregnancy</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Early days</a>
        <ul class="level-4">
        <li><a href="#">Due date calculator</a>
        </li>
        <li><a href="#">Health things you should know</a>
        </li>
        <li><a href="#">Your NHS pregnancy journey</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Existing health problems</a>
        <ul class="level-4">
        <li><a href="#">Asthma and pregnancy</a>
        </li>
        <li><a href="#">Congenital heart disease in pregnancy</a>
        </li>
        <li><a href="#">Coronary heart disease and pregnancy</a>
        </li>
        <li><a href="#">Diabetes and pregnancy</a>
        </li>
        <li><a href="#">Epilepsy and pregnancy</a>
        </li>
        <li><a href="#">Mental health problems and pregnancy</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Pregnancy-induced conditions</a>
        <ul class="level-4">
        <li><a href="#">Itching and intrahepatic cholestasis of pregnancy</a>
        </li>
        <li><a href="#">Pregnancy made me vomit 30 times a day</a>
        </li>
        <li><a href="#">Severe vomiting in pregnancy</a>
        </li>
        <li><a href="#">knew my wife's pregnancy vomiting wasn't normal</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Preparing for the birth</a>
        <ul class="level-4">
        <li><a href="#">Antenatal classes</a>
        </li>
        <li><a href="#">How to make a birth plan</a>
        </li>
        <li><a href="#">Pack your bag for labour</a>
        </li>
        <li><a href="#">Where to give birth: the options</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Tests scans and checks</a>
        <ul class="level-4">
        <li><a href="#">12 week pregnancy dating scan</a>
        </li>
        <li><a href="#">Antenatal checks and tests</a>
        </li>
        <li><a href="#">Antenatal checks and tests (inline link)</a>
          <ul class="level-5">
          <li><a href="#">Screening for hepatitis B, HIV and syphilis</a>
          </li>
          <li><a href="#">Screening for sickle cell and thalassaemia</a>
          </li>
          </ul>
        </li>
        <li><a href="#">If antental screening tests find something</a>
        </li>
        <li><a href="#">Screening for Down's, Edwards' and Patau's syndromes</a>
        </li>
        <li><a href="#">Screening tests in pregnancy</a>
        </li>
        <li><a href="#">Ultrsound scans in pregnancy</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Twins</a>
        <ul class="level-4">
        <li><a href="#">Antenatal care with twins</a>
        </li>
        <li><a href="#">Getting ready for twins</a>
        </li>
        <li><a href="#">Pregnant with twins</a>
        </li>
        <li><a href="#">Your healthy twin pregnancy</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Vaccinations</a>
        <ul class="level-4">
        <li><a href="#">Can I have vaccinations when I'm pregnant?</a>
        </li>
        <li><a href="#">The flu jab in pregnancy</a>
        </li>
        <li><a href="#">Whooping cough vaccine in pregnancy</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Week by week</a>
        <ul class="level-4">
        <li><a href="#">13 to 16 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 13 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 14 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 15 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 16 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">17 to 20 weeks</a>
          <ul class="level-5">
          <li><a href="#">20 week scan</a>
          </li>
          <li><a href="#">You and you baby at 17 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 18 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 19 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 20 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">21 to 24 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 21 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 22 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 23 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 24 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">25 to 28 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 25 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 26 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 27 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 28 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">29 to 32 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 29 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 30 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 31 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 32 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">33 to 36 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 33 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 34 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 35 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 36 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">37 to 40 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 37 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 38 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 39 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 40 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">4 to 8 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 4 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 5 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 6 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 7 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 8 weeks pregnant</a>
          </li>
          <li><a href="#">You and your pregnancy at 1 to 3 weeks</a>
          </li>
          </ul>
        </li>
        <li><a href="#">9 to 12 weeks</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 10 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 11 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 12 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 9 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Pregnancy weeks 40 plus</a>
          <ul class="level-5">
          <li><a href="#">You and you baby at 41 weeks pregnant</a>
          </li>
          <li><a href="#">You and you baby at 42 weeks pregnant</a>
          </li>
          </ul>
        </li>
        <li><a href="#">Your pregnancy week by week</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Your health and wellbeing</a>
        <ul class="level-4">
        <li><a href="#">Illegal drugs in pregnancy</a>
        </li>
        <li><a href="#">Infections in pregnancy that may affect your baby</a>
        </li>
        <li><a href="#">Medicines in pregnancy</a>
        </li>
        <li><a href="#">Reducing the risk of stillbirth</a>
        </li>
        <li><a href="#">Sex in pregnancy</a>
        </li>
        <li><a href="#">Stop smoking in pregnancy</a>
        </li>
        <li><a href="#">Teenage pregnancy support</a>
        </li>
        <li><a href="#">Travelling in pregnancy</a>
        </li>
        <li><a href="#">Work and pregnancy</a>
        </li>
        <li><a href="#">Your baby's movements</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Your pregnancy (antenatal) care</a>
        <ul class="level-4">
        <li><a href="#">What is antenatal care?</a>
        </li>
        <li><a href="#">Who's who in the antenatal team</a>
        </li>
        <li><a href="#">Your antenatal appointments</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Your pregnancy to-do list</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Labour and birth</a>
      <ul class="level-3">
      <li><a href="#">Emotions and worries</a>
        <ul class="level-4">
        <li><a href="#">Feelings, relationships and pregnancy</a>
        </li>
        <li><a href="#">Pregnancy birth and beyond for dads and partners</a>
        </li>
        <li><a href="#">When pregnancy goes wrong</a>
        </li>
        <li><a href="#">When pregnancy goes wrong (inline link)</a>
          <ul class="level-5">
          <li><a href="#">Termination for foetal abnormality</a>
          </li>
          </ul>
        </li>
        </ul>
      </li>
      <li><a href="#">Premature babies</a>
        <ul class="level-4">
        <li><a href="#">Special care: ill or premature babies</a>
        </li>
        </ul>
      </li>
      <li><a href="#">The birth</a>
        <ul class="level-4">
        <li><a href="#">Breech and transverse birth</a>
        </li>
        <li><a href="#">Episiotomy</a>
        </li>
        <li><a href="#">Forceps or vacuum delivery</a>
        </li>
        <li><a href="#">Getting to know your newborn</a>
        </li>
        <li><a href="#">Giving birth to twins</a>
        </li>
        <li><a href="#">Pain relief in labour</a>
        </li>
        <li><a href="#">Tips for your birth partner</a>
        </li>
        <li><a href="#">What happens during labour and birth</a>
        </li>
        <li><a href="#">What happens straight after the birth</a>
        </li>
        <li><a href="#">Your body just after the birth</a>
        </li>
        </ul>
      </li>
      <li><a href="#">The start of labour</a>
        <ul class="level-4">
        <li><a href="#">At the hospital or birth centre</a>
        </li>
        <li><a href="#">Inducing labour</a>
        </li>
        <li><a href="#">Premature labour and birth</a>
        </li>
        <li><a href="#">Signs that labour has begun</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Your newborn</a>
      <ul class="level-3">
      <li><a href="#">Bottle feeding</a>
        <ul class="level-4">
        <li><a href="#">Bottle feeding advice</a>
        </li>
        <li><a href="#">Formula milk: common questions</a>
        </li>
        <li><a href="#">How to combine breast and bottle</a>
        </li>
        <li><a href="#">How to make up baby formula</a>
        </li>
        <li><a href="#">Sterilising baby bottles</a>
        </li>
        <li><a href="#">Types of formula milk</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Breastfeeding</a>
        <ul class="level-4">
        <li><a href="#">Breastfeeding problems</a>
        </li>
        <li><a href="#">How to stop breastfeeding</a>
        </li>
        <li><a href="#">Sore or cracked nipples when breastfeeding</a>
        </li>
        <li><a href="#">Your breastfeeding questions answered</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Breastfeeding problems</a>
        <ul class="level-4">
        <li><a href="#">Breast pain and breastfeeding</a>
        </li>
        <li><a href="#">Breastfeeding and thrush</a>
        </li>
        <li><a href="#">Breastfeeding: is my baby getting enough milk?</a>
        </li>
        </ul>
      </li>
      <li><a href="#">How to breastfeed</a>
        <ul class="level-4">
        <li><a href="#">Benefits of breastfeeding</a>
        </li>
        <li><a href="#">Breastfeeding help and support</a>
        </li>
        <li><a href="#">Breastfeeding in public</a>
        </li>
        <li><a href="#">Breastfeeding your premature baby</a>
        </li>
        <li><a href="#">Breastfeeding: positioning and attachment</a>
        </li>
        <li><a href="#">Breastfeeding: the first few days</a>
        </li>
        <li><a href="#">Expressing and storing breast milk</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Lifestyle and breastfeeding</a>
        <ul class="level-4">
        <li><a href="#">Breastfeeding and diet</a>
        </li>
        <li><a href="#">Breastfeeding and drinking alcohol</a>
        </li>
        <li><a href="#">Breastfeeding and going back to work</a>
        </li>
        <li><a href="#">Breastfeeding and medicines</a>
        </li>
        <li><a href="#">Breastfeeding and smoking</a>
        </li>
        </ul>
      </li>
      <li><a href="#">New mums</a>
        <ul class="level-4">
        <li><a href="#">Coping with stress after having a baby</a>
        </li>
        <li><a href="#">Feeling depressed after childbirth</a>
        </li>
        <li><a href="#">Keeping fit and healthy with a baby</a>
        </li>
        <li><a href="#">Sex and contraception after birth</a>
        </li>
        <li><a href="#">Sleep and tiredness after having a baby</a>
        </li>
        <li><a href="#">Your 6-week postnatal check</a>
        </li>
        <li><a href="#">Your post-pregnancy body</a>
        </li>
        </ul>
      </li>
      <li><a href="#">New parents</a>
        <ul class="level-4">
        <li><a href="#">Maternity and paternity benefits and leave</a>
        </li>
        <li><a href="#">Tips for new parents</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Newborn essentials</a>
        <ul class="level-4">
        <li><a href="#">Helping your baby to sleep</a>
        </li>
        <li><a href="#">How to change your baby's nappy</a>
        </li>
        <li><a href="#">Nappy rash</a>
        </li>
        <li><a href="#">Soothing a crying baby</a>
        </li>
        <li><a href="#">Washing and bathing your baby</a>
        </li>
        <li><a href="#">What you'll need for your baby</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Newborn screening tests</a>
        <ul class="level-4">
        <li><a href="#">Newborn blood spot screening</a>
        </li>
        <li><a href="#">Newborn hearing screening</a>
        </li>
        <li><a href="#">Newborn physical examination</a>
        </li>
        <li><a href="#">Newborn screening</a>
        </li>
        </ul>
      </li>
      <li><a href="#">Twins and multiples</a>
        <ul class="level-4">
        <li><a href="#">Feeding twins and multiples</a>
        </li>
        <li><a href="#">Twins and postnatal depression</a>
        </li>
        <li><a href="#">Twins and sleep</a>
        </li>
        <li><a href="#">Your newborn twins</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    </ul>
  </li>
  </ul>





</div>
{% endblock content %}
