{% extends "layout.njk" %}
{% set title = 'Sitemap Experiment' %}
{% set body_class = 'home' %}


{% block content %}
<div class="tree">

<h1>Letter Q</h1>

  <ul class="level-1">
  <li><a href="#">Health A-Z</a>
    <ul class="level-2">
    <li><a href="#">Q fever</a>
    </li>
    </ul>
  </li>
  </ul>





</div>
{% endblock content %}
