{% extends "layout.njk" %}
{% set title = 'Sitemap Experiment' %}
{% set body_class = 'home' %}


{% block content %}
<div class="tree">



  <ul class="level-1">
  <li><a href="#">Health A-Z</a>
    <ul class="level-2">
    <li><a href="#">Rabies</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Vaccination</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Radiotherapy</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Side effects</a>
      </li>
      <li><a href="#">What happens</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Rashes</a>
    </li>
    <li><a href="#">Raynauds</a>
    </li>
    <li><a href="#">Reactive arthritis</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Rectal examination</a>
    </li>
    <li><a href="#">Red blood count</a>
    </li>
    <li><a href="#">Red eye</a>
    </li>
    <li><a href="#">Reflux in babies</a>
    </li>
    <li><a href="#">Repetitive strain injury (RSI)</a>
      <ul class="level-3">
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Respiratory tract infection</a>
    </li>
    <li><a href="#">Restless legs syndrome</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Daignosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Restricted growth</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Retinal migraine</a>
    </li>
    <li><a href="#">Retinoblastoma</a>
    </li>
    <li><a href="#">Rett syndrome</a>
    </li>
    <li><a href="#">Reyes syndrome</a>
    </li>
    <li><a href="#">Rhesus disease</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Complications</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Prevention</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Rheumatic fever</a>
    </li>
    <li><a href="#">Rheumatoid arthritis</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Complications</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Living with</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Rickets and osteomalacia</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Prevention</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Ringworm</a>
    </li>
    <li><a href="#">Root canal treatment</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">What happens</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Rosacea</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Self help</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      <li><a href="#">symptoms</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Roseola</a>
    </li>
    <li><a href="#">Roundworm</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Prevention</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Rubella</a>
    </li>
    </ul>
  </li>
  </ul>





</div>
{% endblock content %}
