{% extends "layout.njk" %}
{% set title = 'Services' %}
{% set body_class = 'home' %}
{% set stylesheet = 'styles-new.css' %}


{% block content %}
<div class="tree">

<h1>{{ title }}</h1>

<ul class="level-1">
<li><a href="#">Services</a>
  <ul class="level-2">
  <li><a href="#">About the NHS</a>
    <ul class="level-3">
    <li><a href="#">Friends and family test (FFT)</a>
    </li>
    <li><a href="#">Get involved in the NHS</a>
    </li>
    <li><a href="#">How to access your health records</a>
    </li>
    <li><a href="#">How to complain to the NHS</a>
    </li>
    <li><a href="#">Principles and values that guide the NHS</a>
    </li>
    <li><a href="#">Quality accounts</a>
      <ul class="level-4">
      <li><a href="#">About quality accounts</a>
      </li>
      <li><a href="#">Guide to questions and statements required for a Quality Account</a>
      </li>
      <li><a href="#">Quality Account documents</a>
        <ul class="level-5">
        <li><a href="#">Quality account documents</a>
        </li>
        </ul>
      </li>
      </ul>
    </li>
    <li><a href="#">Quality accounts - landing page</a>
    </li>
    <li><a href="#">Sharing your health records</a>
    </li>
    <li><a href="#">What is an NHS Number?</a>
    </li>
    <li><a href="#">Your choices in the NHS</a>
    </li>
    <li><a href="#">Your health records</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Apply for an EHIC</a>
  </li>
  <li><a href="#">Armed forces healthcare</a>
    <ul class="level-3">
    <li><a href="#">Armed forces healthcare: how it works</a>
    </li>
    <li><a href="#">Service families: welfare and support</a>
    </li>
    <li><a href="#">Serving personnel: NHS hospital care</a>
    </li>
    <li><a href="#">Serving personnel: mental health services</a>
    </li>
    <li><a href="#">Serving personnel: rehabilitation services</a>
    </li>
    <li><a href="#">Veterans: NHS mental health services</a>
    </li>
    <li><a href="#">Veterans: NHS services for those with physical injuries</a>
    </li>
    <li><a href="#">Veterans: health FAQs</a>
    </li>
    <li><a href="#">Veterans: priority NHS treatment</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Armed forces healthcare - landing page</a>
  </li>
  <li><a href="#">Healthcare abroad - landing page</a>
  </li>
  <li><a href="#">Help with healthcosts</a>
    <ul class="level-3">
    <li><a href="#">Free NHS eye tests and optical vouchers</a>
    </li>
    <li><a href="#">Get help with dental costs</a>
    </li>
    <li><a href="#">Get help with prescription costs</a>
    </li>
    <li><a href="#">Healthcare Travel Costs Scheme (HTCS)</a>
    </li>
    <li><a href="#">Help with health costs for people getting Universal Credit</a>
    </li>
    <li><a href="#">NHS Low Income Scheme (LIS)</a>
    </li>
    <li><a href="#">NHS voucher values for glasses and lenses</a>
    </li>
    <li><a href="#">Save money with a prescription prepayment certificate (PPC)</a>
    </li>
    <li><a href="#">What is a personal health budget?</a>
    </li>
    <li><a href="#">When you need to pay towards NHS care</a>
    </li>
    <li><a href="#">Wigs and fabric supports on the NHS</a>
    </li>
    </ul>
  </li>
  <li><a href="#">Help with healthcosts - landing page</a>
  </li>
  <li><a href="#">NHS Healthcare abroad</a>
    <ul class="level-3">
    <li><a href="#">Going abroad for treatment</a>
      <ul class="level-4">
      <li><a href="#">Compare funding routes</a>
      </li>
      <li><a href="#">Giving birth outside the UK</a>
      </li>
      <li><a href="#">Going abroad for medical treatment</a>
      </li>
      <li><a href="#">The EU directive route</a>
      </li>
      <li><a href="#">The S2 funding route</a>
      </li>
      <li><a href="#">Treatment abroad checklist</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Moving abroad</a>
      <ul class="level-4">
      <li><a href="#">Planning your healthcare</a>
      </li>
      <li><a href="#">Studying abroad</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Moving abroad - landing page</a>
    </li>
    <li><a href="#">Travelling and living abroad</a>
      <ul class="level-4">
      <li><a href="#">Healthcare in Austria</a>
      </li>
      <li><a href="#">Healthcare in Belgium</a>
      </li>
      <li><a href="#">Healthcare in Bulgaria</a>
      </li>
      <li><a href="#">Healthcare in Croatia</a>
      </li>
      <li><a href="#">Healthcare in Cyprus</a>
      </li>
      <li><a href="#">Healthcare in Czech Republic</a>
      </li>
      <li><a href="#">Healthcare in Denmark</a>
      </li>
      <li><a href="#">Healthcare in Estonia</a>
      </li>
      <li><a href="#">Healthcare in Finland</a>
      </li>
      <li><a href="#">Healthcare in France, including Martinique and Guadaloupe</a>
      </li>
      <li><a href="#">Healthcare in Germany</a>
      </li>
      <li><a href="#">Healthcare in Greece</a>
      </li>
      <li><a href="#">Healthcare in Hungary</a>
      </li>
      <li><a href="#">Healthcare in Iceland</a>
      </li>
      <li><a href="#">Healthcare in Ireland</a>
      </li>
      <li><a href="#">Healthcare in Italy</a>
      </li>
      <li><a href="#">Healthcare in Latvia</a>
      </li>
      <li><a href="#">Healthcare in Liechtenstein</a>
      </li>
      <li><a href="#">Healthcare in Luxembourg</a>
      </li>
      <li><a href="#">Healthcare in Malta</a>
      </li>
      <li><a href="#">Healthcare in Norway</a>
      </li>
      <li><a href="#">Healthcare in Poland</a>
      </li>
      <li><a href="#">Healthcare in Portugal, including Madeira</a>
      </li>
      <li><a href="#">Healthcare in Romania</a>
      </li>
      <li><a href="#">Healthcare in Slovakia</a>
      </li>
      <li><a href="#">Healthcare in Slovenia</a>
      </li>
      <li><a href="#">Healthcare in Spain</a>
      </li>
      <li><a href="#">Healthcare in Sweden</a>
      </li>
      <li><a href="#">Healthcare in Switzerland</a>
      </li>
      <li><a href="#">Healthcare in the Netherlands</a>
      </li>
      <li><a href="#">Healthchare in Lithuania</a>
      </li>
      <li><a href="#">Travelling in the EU, EEA and Switzerland</a>
      </li>
      <li><a href="#">Travelling outside the European Economic Area (EEA)</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Travelling and living abroad - landing page</a>
    </li>
    </ul>
  </li>
  <li><a href="#">NHS Services</a>
    <ul class="level-3">
    <li><a href="#">Dentists</a>
      <ul class="level-4">
      <li><a href="#">Dental treatment for people with special needs</a>
      </li>
      <li><a href="#">How to find an NHS dentist</a>
      </li>
      <li><a href="#">Understanding NHS dental charges</a>
      </li>
      <li><a href="#">What happens when you visit the dentist</a>
      </li>
      <li><a href="#">What's available on the NHS?</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Dentists - landing page</a>
    </li>
    <li><a href="#">GPs</a>
      <ul class="level-4">
      <li><a href="#">GP appointments and bookings</a>
      </li>
      <li><a href="#">How to register with a GP practice</a>
      </li>
      <li><a href="#">Patient choice of gp practices</a>
      </li>
      <li><a href="#">Referrals for specialist care</a>
      </li>
      <li><a href="#">What to ask your doctor</a>
      </li>
      </ul>
    </li>
    <li><a href="#">GPs - landing page</a>
    </li>
    <li><a href="#">Hospitals</a>
      <ul class="level-4">
      <li><a href="#">About NHS hospital services</a>
      </li>
      <li><a href="#">Being discharged from hospital</a>
      </li>
      <li><a href="#">Book an appointment using the NHS e-Referral Service</a>
      </li>
      <li><a href="#">Going into hospital as an inpatient or outpatient</a>
      </li>
      <li><a href="#">Guide to NHS waiting times in England</a>
      </li>
      <li><a href="#">Outpatients and day patients</a>
      </li>
      <li><a href="#">Staying in hospital as an inpatient</a>
      </li>
      <li><a href="#">Visiting someone in hospital</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Hospitals - landing page</a>
    </li>
    <li><a href="#">Mental health services</a>
      <ul class="level-4">
      <li><a href="#">CAMHS information for children and young people</a>
      </li>
      <li><a href="#">Child and adolescent mental health services (CAMHS)</a>
      </li>
      <li><a href="#">Child and adolescent mental health services information for parents and carers</a>
      </li>
      <li><a href="#">Dealing with a mental health crisis or emergency</a>
      </li>
      <li><a href="#">How to access mental health services</a>
      </li>
      <li><a href="#">Mental Health Act</a>
      </li>
      <li><a href="#">Mental Health Act: your rights (easy read)</a>
      </li>
      <li><a href="#">Mental health assessments</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Mental health services - landing page</a>
    </li>
    <li><a href="#">NHS app - new</a>
      <ul class="level-4">
      <li><a href="#">Abbreviations commonly found in medical records</a>
      </li>
      <li><a href="#">Help with Android fingerprint unlock</a>
      </li>
      <li><a href="#">Help with Apple Touch ID and Face ID</a>
      </li>
      <li><a href="#">NHS App</a>
      </li>
      <li><a href="#">NHS App accessibility statement</a>
      </li>
      <li><a href="#">NHS App cookies policy</a>
      </li>
      <li><a href="#">NHS App help and support</a>
      </li>
      <li><a href="#">NHS App open source licences</a>
      </li>
      <li><a href="#">NHS App privacy policy</a>
      </li>
      <li><a href="#">NHS App terms of use</a>
      </li>
      <li><a href="#">Subscription confirmed</a>
      </li>
      </ul>
    </li>
    <li><a href="#">NHS log-in - new</a>
    </li>
    <li><a href="#">Opticians</a>
      <ul class="level-4">
      <li><a href="#">Visiting an optician</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Opticians - landing page</a>
    </li>
    <li><a href="#">Pharmacies</a>
      <ul class="level-4">
      <li><a href="#">Dangers of buying medicines online</a>
      </li>
      <li><a href="#">New Medicine Service (NMS)</a>
      </li>
      <li><a href="#">Start using electronic prescriptions</a>
      </li>
      <li><a href="#">What to expect from your pharmacy team</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Pharmacies - landing page</a>
    </li>
    <li><a href="#">Sexual health services</a>
      <ul class="level-4">
      <li><a href="#">Guide to sexual health services</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Sexual health services - landing page</a>
    </li>
    <li><a href="#">Urgent and emergency care</a>
      <ul class="level-4">
      <li><a href="#">NHS 111</a>
      </li>
      <li><a href="#">NHS out-of-hours services</a>
      </li>
      <li><a href="#">When to call 999</a>
      </li>
      <li><a href="#">When to go to A&E</a>
      </li>
      <li><a href="#">When to visit an urgent treatment centre</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Urgent and emergency care - landing page</a>
    </li>
    <li><a href="#">Visiting or moving to England</a>
      <ul class="level-4">
      <li><a href="#">How to access NHS services in England if you're visiting from abroad</a>
      </li>
      <li><a href="#">Moving to England from outside the European Economic Area (EEA)</a>
      </li>
      <li><a href="#">Moving to England from the European Economic Area (EEA) or Switzerland</a>
      </li>
      <li><a href="#">Visitors from outside the European Economic Area (EEA)</a>
      </li>
      <li><a href="#">Visitors from the European Economic Area (EEA) or Switzerland</a>
      </li>
      <li><a href="#">Visitors who do not need to pay for NHS treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Visiting or moving to England - landing page</a>
    </li>
    </ul>
  </li>
  <li><a href="#">NHS Services - landing page</a>
  </li>
  <li><a href="#">NHS services</a>
    <ul class="level-3">
    <li><a href="#">GPs</a>
      <ul class="level-4">
      <li><a href="#">Start using GP online services</a>
      </li>
      </ul>
    </li>
    </ul>
  </li>
  </ul>
</li>
<li><a href="#">﻿Services</a>
  <ul class="level-2">
  <li><a href="#">About the NHS - hub page</a>
  </li>
  </ul>
</li>
</ul>


</div>
{% endblock content %}
