{% extends "layout.njk" %}
{% set title = 'Sitemap Experiment' %}
{% set body_class = 'home' %}


{% block content %}
<div class="tree">

<h1>Letter T</h1>

  <ul class="level-1">
  <li><a href="#">Health A-Z</a>
    <ul class="level-2">
    <li><a href="#">Tailbone pain (coccydynia)</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Tapeworm</a>
    </li>
    <li><a href="#">Tay sachs disease</a>
    </li>
    <li><a href="#">Teeth grinding</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Temporal arteritis</a>
    </li>
    <li><a href="#">Temporomandibular disorder (TMD)</a>
    </li>
    <li><a href="#">Tennis elbow</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Prevention</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Tension headaches</a>
    </li>
    <li><a href="#">Testicle lumps and swellings</a>
    </li>
    <li><a href="#">Testicular cancer</a>
      <ul class="level-3">
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Tetanus</a>
    </li>
    <li><a href="#">Thalassaemia</a>
      <ul class="level-3">
      <li><a href="#">Carriers</a>
      </li>
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Daignosis</a>
      </li>
      <li><a href="#">Living with</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Thirst</a>
    </li>
    <li><a href="#">Threadworms</a>
    </li>
    <li><a href="#">Thrombophilia</a>
    </li>
    <li><a href="#">Thrush in men and women</a>
    </li>
    <li><a href="#">Thyroid cancer</a>
      <ul class="level-3">
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Thyroiditis</a>
    </li>
    <li><a href="#">Tick-borne encephalitis</a>
    </li>
    <li><a href="#">Tics</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      <li><a href="#">Types</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Tindonitis</a>
    </li>
    <li><a href="#">Tinnitus</a>
    </li>
    <li><a href="#">Tongue tie</a>
    </li>
    <li><a href="#">Tonsillitis</a>
    </li>
    <li><a href="#">Tooth decay</a>
    </li>
    <li><a href="#">Toothache</a>
    </li>
    <li><a href="#">Topical steroids</a>
    </li>
    <li><a href="#">Total iron-binding capacity (TIBC) and transferrin test</a>
    </li>
    <li><a href="#">Total protein test</a>
    </li>
    <li><a href="#">Tourettes syndrome</a>
    </li>
    <li><a href="#">Toxic shock syndrome</a>
    </li>
    <li><a href="#">Toxocariasis</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Prevention</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Toxoplasmosis</a>
    </li>
    <li><a href="#">Tracheostomy</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Recovery</a>
      </li>
      <li><a href="#">Risks</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Transcutaneous electrical nerve stimulation (TENS)</a>
      <ul class="level-3">
      <li><a href="#">Why it's done</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Transient ischaemic attack (TIA)</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Prevention</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Transurethral resection of the prostate (TURP)</a>
      <ul class="level-3">
      <li><a href="#">Alternatives</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Recovery</a>
      </li>
      <li><a href="#">Risks</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      <li><a href="#">What happens</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Travel vaccinations</a>
      <ul class="level-3">
      <li><a href="#">Jabs</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Tremor or shaking hands</a>
    </li>
    <li><a href="#">Trichomoniasis</a>
      <ul class="level-3">
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Prevention</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Trichotillomania</a>
    </li>
    <li><a href="#">Trigeminal neuralgia</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Trigger finger</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Trimethylaminuria</a>
    </li>
    <li><a href="#">Tuberculosis</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Tuberous sclerosis</a>
      <ul class="level-3">
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Turner syndrome</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Twitching eyes and muscles</a>
    </li>
    <li><a href="#">Type 1 diabetes</a>
      <ul class="level-3">
      <li><a href="#">About insulin</a>
      </li>
      <li><a href="#">About type 1 diabetes</a>
      </li>
      <li><a href="#">Alcohol and drugs</a>
      </li>
      <li><a href="#">Avoiding complications</a>
      </li>
      <li><a href="#">Check you're safe to drive</a>
      </li>
      <li><a href="#">Continuous glucose monitoring</a>
      </li>
      <li><a href="#">Counting carbohydrates</a>
      </li>
      <li><a href="#">Diabetes and travel</a>
      </li>
      <li><a href="#">Doing a type 1 diabetes course</a>
      </li>
      <li><a href="#">Exercise and sport</a>
      </li>
      <li><a href="#">Flash monitoring freestyle libre</a>
      </li>
      <li><a href="#">Get support</a>
      </li>
      <li><a href="#">Going to university</a>
      </li>
      <li><a href="#">Hyperglycaemia</a>
      </li>
      <li><a href="#">Hypoglycaemia (hypos)</a>
      </li>
      <li><a href="#">Insulin pumps</a>
      </li>
      <li><a href="#">Newly diagnosed: things to help</a>
      </li>
      <li><a href="#">Pregnancy and giving birth</a>
      </li>
      <li><a href="#">Sharing blood glucose data with your team</a>
      </li>
      <li><a href="#">Symptoms and getting diagnosed</a>
      </li>
      <li><a href="#">Type 1 diabetes in children</a>
      </li>
      <li><a href="#">What to do when you're ill</a>
      </li>
      <li><a href="#">When your treatment might change</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Type 2 diabetes</a>
      <ul class="level-3">
      <li><a href="#">Finding help and support</a>
      </li>
      <li><a href="#">Food and keeping active</a>
      </li>
      <li><a href="#">Getting diagnosed</a>
      </li>
      <li><a href="#">Going for regular check-ups</a>
      </li>
      <li><a href="#">Health problems</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Understanding medication</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Typhoid fever</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Complications</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      <li><a href="#">Vaccination</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Typhus</a>
    </li>
    </ul>
  </li>
  </ul>





</div>
{% endblock content %}
