{% extends "layout.njk" %}
{% set title = 'Sitemap Experiment' %}
{% set body_class = 'home' %}


{% block content %}
<div class="tree">



  <ul class="level-1">
  <li><a href="#">Health A-Z</a>
    <ul class="level-2">
    <li><a href="#">Warts and varrucas</a>
    </li>
    <li><a href="#">Watering eyes</a>
    </li>
    <li><a href="#">Weight loss surgery</a>
      <ul class="level-3">
      <li><a href="#">Afterwards</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Risks</a>
      </li>
      <li><a href="#">Types</a>
      </li>
      <li><a href="#">Who can have it</a>
      </li>
      </ul>
    </li>
    <li><a href="#">West nile virus</a>
    </li>
    <li><a href="#">What to do if someone has a seizure (fit)</a>
    </li>
    <li><a href="#">Whiplash</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Whopping cough</a>
    </li>
    <li><a href="#">Wisdom tooth</a>
      <ul class="level-3">
      <li><a href="#">Complications</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Recovery</a>
      </li>
      <li><a href="#">What happens</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Wolff parkinson white syndrome</a>
    </li>
    <li><a href="#">Womb cancer</a>
      <ul class="level-3">
      <li><a href="#">Causes</a>
      </li>
      <li><a href="#">Diagnosis</a>
      </li>
      <li><a href="#">Living with</a>
      </li>
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Symptoms</a>
      </li>
      <li><a href="#">Treatment</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Worms in humans</a>
    </li>
    <li><a href="#">X-ray</a>
      <ul class="level-3">
      <li><a href="#">X ray</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Yellow fever</a>
      <ul class="level-3">
      <li><a href="#">Overview</a>
      </li>
      <li><a href="#">Vaccination</a>
      </li>
      </ul>
    </li>
    <li><a href="#">Zika</a>
    </li>
    </ul>
  </li>
  </ul>





</div>
{% endblock content %}
